html, body {
	margin: 0;
	overflow-x:hidden;
	font-family: "proxima-nova-condensed", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size:67px;
	font-weight: 700;
	text-transform: uppercase;
}



/* Menu */


.navbar {
	background: #00464f;
	/*height: 120px;*/ 
	border: 0;
	margin: 0;
	z-index: 99999;
}

.navbar .col-md-2 {background: #fff;}
.navbar .col-lg-3 {background: #fff;}
.navbar .col-md-8 {padding: 0;}

.col-lg-3 .navbar-header {width:100%;   padding: 7px 0;
    height: 110px;}
.navbar-header .navbar-brand {float: right;}
.navbar-header {float: right;}


.navbar-brand {padding: 0;height: 100px;}
.navbar-brand img {width: 80%;}

.navbar-nav li a {padding: 45px 10px;}
.navbar-nav li a {
	color:#f2f2f2;
	text-transform: uppercase;
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.nav > li > a:focus, .nav > li > a:hover {background: #8dc63f;}

/*Dropdown */

.dropdown-menu li a {padding: 15px 5px;background: #00464f;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {background: #00464f;}
.dropdown-menu {padding: 0;border:0;}
.dropdown-menu li {border-top:2px solid #8dc63f;}

/* Search Form */

.search-form {padding: 45px 30px;float: left;}
.search-form i {color:#fff;}

/* Menu mobile */

.search-form-mobile {width: 100%;background: #00464f;padding: 18px;position: absolute;top:100%;display: none;z-index: 100; }


.navbar-toggle {
	background: #282a2d;
	float: none;
	top: 100%;
    z-index: 100;
    right: 0;
    border-radius: 0;
    margin: 0;
    padding: 16px 20px;
    position: absolute;
    z-index: 110;
}

.navbar-toggle .icon-bar {
	background: #fff;
	width: 40px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 10px;
}

#oquefazemos {	
	display: none;
	background: url("img/bg-servicos.png");
	background-size: cover;

}
/* Carousel */



#owl-principal .item img{
    display: block;
    width: 100%;
    height: auto;
}

#owl-principal.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 25px;
 }

 #owl-principal.owl-theme .owl-dots .owl-dot {
 	display: block;
 }

 #owl-principal.owl-theme .owl-dots .owl-dot span {
 	width: 15px;
 	height: 15px;
 	background: #d6d6d6;
 	filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
 }

 #owl-principal.owl-theme .owl-dots .owl-dot.active span {
 	background: #97c83c;
 }


 #owl-mob.owl-carousel img {
 	width: auto;
 	margin: 0 auto;
 }

 #owl-mob.owl-carousel .owl-stage-outer {
 	overflow: initial;
 }

 #owl-mob.owl-carousel {
 	padding: 30px 0;
 }

 #owl-mob.owl-theme .owl-dots .owl-dot {
 	margin: 0 5px;
 }


 #owl-mob.owl-theme .owl-dots .owl-dot span {
 	width: 15px;
 	height: 15px;
 	background: #d6d6d6;
 	filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
 }

 #owl-mob.owl-theme .owl-dots .owl-dot.active span {
 	background: #00464f;
 }


#owl-ranking.owl-carousel img {
 	width: auto;
 }

#owl-ranking.owl-carousel .owl-stage-outer {
 	overflow: initial;
 }



#owl-ranking.owl-theme .owl-dots .owl-dot {
 	margin: 0 5px;
 }

#owl-ranking.owl-theme .owl-dots .owl-dot span {
 	width: 15px;
 	height: 15px;
 	background: #d6d6d6;
 	filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
 }

 #owl-ranking.owl-theme .owl-dots .owl-dot.active span {
 	background: #00464f;
 }

 #owl-ranking .owl-item.active {
 	visibility: visible;
 	opacity: 1;
 }

 #owl-ranking .owl-item {	
 	visibility: hidden;
 	opacity:0;
    transition:opacity 0.9s linear;
 }



 #owl-loja {
 	background: #36597e;
 }

   #owl-loja.owl-carousel img {
 	width: auto;
 }


 #owl-loja.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
       top: 80%;
    left: 50%;
 }

 #owl-loja.owl-theme .owl-dots .owl-dot {
 	display: inline-block;
 	margin-right: 5px;
 }

  #owl-loja.owl-theme .owl-dots .owl-dot span {
 	width: 15px;
 	height: 15px;
 	background: #d6d6d6;
 	filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
 }

#owl-loja.owl-theme .owl-dots .owl-dot.active span {
 	background: #97c83c;
 }


#owl-loja .item {
	width: 800px;
    display: block;
    margin: 0 auto;
    padding: 60px 0;
    height: 350px;
}

#owl-loja .item img {
	float: left;
}

#owl-loja .item h3 {
	text-transform: uppercase;
	color:#fff;
	margin:30px 0 0;
}

#owl-loja .item h4 {
	color:#fff;
}



  

 .item h1 {color:#fff;position: absolute;
    top: 40%;
    margin: 0;
    left: 25%; }
 .item h1 span {color:#95c53b;}

 #owl-quadras .item img{
       display: block;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

#owl-quadras.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
 }

 #owl-quadras.owl-carousel .owl-item {
 	background: rgba(20,90,99,0.7);
 }

 #owl-quadras.owl-theme .owl-nav {
 	text-align: right;
 }
.owl-theme .owl-nav [class*='owl-'] {
	background: #8dc63f;
	border-radius: 0;
	width: 40px;
    height: 40px;
    padding: 2px 14px;
}

.owl-theme .owl-nav i {
	font-size: 36px;
}

 #owl-quadras.owl-theme .owl-dots .owl-dot {
 	display: block;
 }

 #owl-quadras.owl-theme .owl-dots .owl-dot span {
 	width: 15px;
 	height: 15px;
 	background: #d6d6d6;
 	filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
 }

 #owl-quadras.owl-theme .owl-dots .owl-dot.active span {
 	background: #97c83c;
 }


/* Serviços */

#servicos {
	padding: 50px 0;
	background: #f2f2f2;
	height: 500px;
	background: url("img/bg-servicos.png");
	background-size: cover;
}


#servicos img {
	display: block;
	margin: 0 auto;
}



.titulo h3 {text-align: center;color:#00464f;}

#iniciante img {position: absolute;
    top: -13px;
    left: 19%;}


#avancado img {position: absolute;
        top: -22px;
    left: 16%;}


#fit img {
	position: absolute;
	top: -38px;
    left: -40px;
    }

/* Banners antes do footer */

#ranking {
	background: #8fbf36;
	background: url('img/fundotennis.png');
	background-size: cover;
	color:#fff;
	text-align: center;
	padding: 15px 30px; 
	text-transform: uppercase;
	height: 320px;
}

#ranking h3 {
	font-weight: 600;
}

#ranking h4 {
	margin: 5px 0;
}

#ranking .rank {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rank li {
	padding: 5px 0;
	border-bottom: 1px solid #a6d352;
}
/*.rank li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  text-align: left;
}

.rank li::before {
  content: counter(step-counter);
  margin-right: 70px;
  font-size: 16px;
  color: white;
  padding: 0px 8px;
  border-radius: 3px;
  float: left;
}

.rank li p {
	float: left;
	margin-right: 70px;
} */


#locacao {
	background: #175d66;
	background: url('img/fundoquadra.png');
	background-size: cover;
	color:#fff;
	text-align: center;
	padding: 45px 30px;
	text-transform: uppercase;
	height: 320px;
	z-index: 10;
}

#locacao h2 {
	font-size: 24px;
}


#academia {
	background: #21212d;
	background: url('img/fundoacademia.png');
	background-size: cover;
	color:#fff;
	text-align: center;
	padding: 45px 30px;
	text-transform: uppercase;
	height: 320px;
	z-index: 10;
}

#academia h2 {
	font-size: 24px;
}

#fitness {
	background: #0a090e;
	background: url('img/fundofitness.png');
	background-size: cover;
	color:#fff;
	text-align: center;
	padding: 45px 30px;
	text-transform: uppercase;
	height: 320px;
	z-index: 10;
}

#fitness h2 {
	font-size: 24px;
}

/* Contact Page */

.contact {
 	width: 100%;
    height: 20vh;
    position: relative;
    display: block;
    top: 110px;
    z-index: 9999;
    background: rgba(255,255,255, 0.5);
    padding: 50px;

}

.contact h1 {
	color:#353535;
	font-weight: 600;
	font-size: 86px;
	text-align: right;
}

.contact .breadcrumb {
	text-align: right;
	padding: 0;
}

#map {
        width: 100%;
        height: 500px;
      }

#mapa {
	top: -160px;
    position: relative;
}

#formcontato {
	position: relative;
	top:-160px;
	padding: 50px 0;
}

#formcontato h3 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
}

#formcontato p {
	font-size: 16px;
	font-weight: 400;
}

.contactform input {
	width: 100%;
	padding: 10px;
	border:0;
	border-bottom: 1px solid #8dc63f;
	color:#666;
}

.contactform textarea {
	width: 100%;
	padding: 10px;
	border:0;
	border-bottom: 1px solid #8dc63f;
	color:#666;
}

.contactform button {
	padding: 10px 60px;
	background: #294c72;
	color:#fff;
	border: 0;
}

#info-c .row {
	padding: 10px 0;
}

#info-c .row .col-md-4 {
	font-weight: 600;
	font-size: 17px;

}

#info-c .row .col-md-8 {
	font-weight: 400;
	font-size: 15px;
	padding: 0;
}

#info-c #soc {
	border-top: 1px solid #8dc63f;
}

#soc ul {
	padding-left: 0;
}

#soc ul li {display: inline;}

#soc ul li a i {
	width: 30px;
    height: 30px;
    background: #00464f;
    color: #fff;
    font-size: 22px;
    padding: 5px;
}
/* A Tennis square */

#error.parallax {
  width: 100%;
  height: 40vh;
  background: url("img/404.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}

#academiadt.parallax {
  width: 100%;
  height: 40vh;
  background: url("img/court.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}

#conveniencia.parallax {
  width: 100%;
  height: 40vh;
  background: url("img/conveniencia.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}

#servicos.parallax {
  width: 100%;
  height: 40vh;
  background: url("img/servicos.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}

#pilates.parallax {
  width: 100%;
  height: 40vh;
  background: url("img/pilates.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}

#ranking.parallax {
  width: 100%;
  height: 40vh;
  background: url("img/ranking.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}

#news.parallax {
  width: 100%;
  height: 40vh;
  background: url("img/news.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}

#estrutura.parallax {
	width: 100%;
  height: 40vh;
  background: url("img/estrutura.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}


#tennis.parallax {
  width: 100%;
  height: 40vh;
  background: url("img/court.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}
.parallax h1 {
  	color: #FFFFFF;
    text-align: center;
    text-shadow: 2px 2px 8px #353535;
    padding: 10px;
    margin: 250px auto;
}

.parallax h1 span {
	color:#9aca41;
}

.content {
  background-color: #F1F1F1;
  width: 100%;
  position: relative;
  z-index: 500;
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.33);
  margin-top: 40vh;
  height: auto;
}

.content h2 {
	color:#282a2d;
	font-weight: 400;
	font-size: 37px;
}

.content header {
	background: #d7d4d4;
}
.breadcrumb {
	background: transparent;
	padding: 10px;
    margin-bottom: 0;
    list-style: none;
	border-radius: 0px;
}

.breadcrumb li {font-size: 17px;}
.breadcrumb li a {color:#282a2d;}
.breadcrumb>li+li:before {color:#282a2d; content: "\f105";font-family: FontAwesome;}
.breadcrumb li a:hover {text-decoration: none;}

#partefisica {
	background: #36597e;
	height: 500px;
	color:#fff;
}

#pr{
	padding: 60px 0;
}

#partefisica img {
     width: 1047px;
    position: absolute;
    left: -232px;
    top: -10px;
}

#partefisica h3 {
	font-weight: 300;
	font-size: 24px;
	padding-top: 50px;
}

.fitness-list {
	list-style: none;
	padding-left:0;
}

.fitness-list li {
	padding: 15px 0;
	font-size: 17px;
	font-weight: 300;
}

.btn-default {
	border-radius: 0;
	background: #a1d053;
	color:#fff;
	cursor: pointer;
	border: 0;
	padding: 10px 50px;
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}



#tradicional {
	padding: 60px 0;
}

#cont {
	padding: 60px 0;
}

.content p {
  font-size: 16px;
  color: #222222;
  line-height: 28px;
  font-weight: 300;
}
.content h1 {
  background-color: #2196F3;
  color: #FFFFFF;
  padding: 35px 20px;
}
.content h1 span {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}

.image-2 {
  width: 100%;
  height: 50vh;
  background: url(http://static.bigstockphoto.com/images/tutorials/background.jpg);
  background-position: center center;
  background-size: cover;
  position: fixed;
  display: block;
  top: 500px;
  z-index: 500;
}

#srvc {
	background: #00464f;
	padding: 60px 0;
}

#srvc h3 {
	color:#fff;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;

}

#srvc p {
	color: #fff;
	text-align: center;
	line-height: 17px;
}


#estrutura {
	background: #36597e;
	padding: 60px 0;
}

#estrutura h3 {
	color:#fff;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}

#estrutura p {
	color: #fff;
	text-align: center;
	line-height: 17px;
}

#estrutura button {
	text-align: center;
	margin:0 auto;
	display: block;
}

#galeria {
	padding: 60px 0;
	background: #fff;
}


.circle {
  height: 250px;
  width: 250px;
  background: #CDCDCD;
  border-radius: 50%;
  margin: 0 auto;
}


.traco {
	background: #CDCDCD;
  height: 50px;
  width: 3px;
  left: 50%;
  margin-top: 20px;
  position: relative;

}

.circle i {
	font-size: 120px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
    color:#fff;
}


#galeria h3 {
	font-style: italic;
	font-weight: 300;
	color:#36597e;
	margin-bottom: 30px;
}

/* News */

form.search-news {
	padding: 30px 0 10px;
	margin-bottom: 20px;
	border-bottom:2px solid #9aca40;
}

form.search-news input {
	width: 90%;
	background: transparent;
	border:0;
	font-style: italic;
	font-size: 36px;
	padding: 10px;
	font-weight: 300;
}


form.search-news button {
	background: transparent;
	border: 0;
	font-size: 36px;
	color:#ccc;
	float: right;
}


#news .col-md-3 {
	padding: 0;
}



#news .info {
	position: absolute;
	top: 20px;
	color:#000;
	left: 20px;
	z-index: 99999;
	text-align: left;
	height: 100%;
	width: 100%;
}

#news .info h5 {
	font-size: 14px;
	font-weight: 300;
	color:#838282;

}

#news .info h3 {
	font-weight: 300;
	font-style:italic;
	font-size: 30px;
	text-transform: uppercase;
	color:#383838;
}

#news .info button {
	bottom: 40px;
	position: absolute;
	text-transform: uppercase;
	padding: 5px 30px;
	border: 0;
	border-radius: 0;
	background: transparent;
}



.nd-wrap {
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	position: relative;
	
}
.nd-wrap img {
	width: 100%;
	display: block;
	opacity: 0.3;
}


.nd-title {
	position: relative;		
	top: -150px;
	opacity: 0;
	margin: 0 0 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-transition: all 1s ease 0.01s;
			transition: all 1s ease 0.01s;
}
.nd-title span {
	color: #fff;	
	padding: 0 20px 15px;
	border-bottom: 1px solid #ccc;
	display: inline-block;
}
.nd-icon {
    color: #000;
    display: inline-block;
    font-size: 25px;
    margin: 0 5px;
    opacity: 0;
    position: relative;
	cursor: pointer;
	-webkit-transition-duration: 0.6s;
			transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
			transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
}
.nd-icon span {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	padding: 10px 15px;
	-webkit-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
}
.nd-icon:hover span {
	background: #fff;
	-webkit-transform: scale(1.1,1.1);
			transform: scale(1.1,1.1);
}
.nd-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
}
.nd-content_inner {
	display: table;
	width: 100%;
	height: 100%;
}
.nd-content_inner1 {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
/* =============== HOVER AREA =============== */
.nd-wrap:hover .nd-icon,
.nd-wrap:hover .nd-content,
.nd-wrap:hover .nd-title {
	opacity: 1;
	top: 0;
}


.nd-wrap:hover img {
	opacity: 1 !important;
}


#news .info:hover {
	position: absolute;
	top: 20px;
	color:#e9e9e9;
	left: 20px;
	z-index: 99999;
	text-align: left;
	height: 100%;
}

#news .info:hover h3 {
	color:#e9e9e9;
}

#news .info:hover h5 {
	color:#e9e9e9;
}

#news .info:hover button {
	bottom: 40px;
	position: absolute;
	background: #9aca40;
	color:#fff;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
}


.nd-wrap:hover .nd-title {
	-webkit-transition: all 0.5s cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.01s;
			transition: all 0.5s cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.01s;
}
.nd-wrap:hover .nd-content {
	background: rgba(19, 89, 98, 0.5);
}
/* =============== SET DELAY FOR ICONS WHEN HOVER =============== */
.nd-content .nd-icon:nth-of-type(1) {	
	-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
}
.nd-content .nd-icon:nth-of-type(2) {
	-webkit-transition-delay: 0.15s;
			transition-delay: 0.15s;
}
.nd-content .nd-icon:nth-of-type(3) {
	-webkit-transition-delay: 0.2s;
			transition-delay: 0.2s;
}
.nd-content .nd-icon:nth-of-type(4) {
	-webkit-transition-delay: 0.25s;
			transition-delay: 0.25s;
}
/* ============================== HOVER STYLE ============================== */
/* =============== STYLE 1 =============== */
.nd-style-1 .nd-icon {
	top: 150px;
}
/* =============== STYLE 2 =============== */
.nd-style-2 .nd-icon {
	-webkit-transform: scale(0,0);
			transform: scale(0,0);
}
.nd-wrap.nd-style-2:hover .nd-icon {
	-webkit-transform: scale(1,1);
			transform: scale(1,1);
}
/* =============== STYLE 3 =============== */
.nd-style-3 .nd-icon {
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
}
.nd-wrap.nd-style-3:hover .nd-icon {
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
}
/* =============== STYLE 4 =============== */
.nd-style-4 .nd-icon {
	-webkit-transform: scale(1.5,1.5);
			transform: scale(1.5,1.5);
}
.nd-wrap.nd-style-4:hover .nd-icon {
	-webkit-transform: scale(1,1);
			transform: scale(1,1);
}
/* =============== STYLE 5 =============== */
.nd-wrap.nd-style-5:hover .nd-title {
	-webkit-transition: all 0.5s ease 0.01s;
			transition: all 0.5s ease 0.01s;
}
.nd-style-5 .nd-icon {
	top: 150px;
	-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
}
/* =============== STYLE 6 =============== */
.nd-wrap.nd-style-6:hover .nd-title {
	-webkit-transition: all 0.5s ease 0.01s;
			transition: all 0.5s ease 0.01s;
}
.nd-style-6 .nd-icon {
	-webkit-transform: scale(0,0);
			transform: scale(0,0);
	-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
}
.nd-wrap.nd-style-6:hover .nd-icon {
	-webkit-transform: scale(1,1);
			transform: scale(1,1);
}
/* =============== STYLE 7 =============== */
.nd-wrap.nd-style-7:hover .nd-title {
	-webkit-transition: all 0.5s ease 0.01s;
			transition: all 0.5s ease 0.01s;
}
.nd-style-7 .nd-icon {
	-webkit-transform: scale(1.5,1.5);
			transform: scale(1.5,1.5);
	-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
}
.nd-wrap.nd-style-7:hover .nd-icon {
	-webkit-transform: scale(1,1);
			transform: scale(1,1);
}
/* =============== STYLE 8 =============== */
.nd-wrap.nd-style-8:hover .nd-title {
	-webkit-transition: all 0.5s ease 0.01s;
			transition: all 0.5s ease 0.01s;
}
.nd-style-8 .nd-icon {
	-webkit-transform: rotate(180deg) scale(1.5,1.5);
			transform: rotate(180deg) scale(1.5,1.5);
	-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
}
.nd-wrap.nd-style-8:hover .nd-icon {
	-webkit-transform: rotate(360deg) scale(1,1);
			transform: rotate(360deg) scale(1,1);
}


.pagin {
	text-align: center;
}

.prev {
	background: #135962;
    height: 58px;
    width: 58px; 
    position: absolute;
    left: 0;
    font-size: 36px;
    color:#fff;
    padding: 5px;
}

.next {
	background: #135962;
    padding: 5px;
    position: absolute;
    right: 0;
    height: 58px;
    width: 58px; 
     font-size: 36px;
    color:#fff;
}

.pagination {margin: 10px 0;}


.pagination li a {
	background: transparent;
	border:0;
}

.pagination li a {
	color:#135962;
}

/* Ranking Table */

#rkng .col-md-12 {
	padding: 0;
}

#filtros {
	padding: 30px 0;
}

#filtros select {
	width: 100%;
}



#filtros .dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #8dc63f;
  
}

#filtros .dropdown:before, #filtros .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

#filtros .dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

#filtros .dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

#filtros .dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  height: 60px;
  font-size: 36px;
  color: #d6d7d7;
  font-weight: 300;
  text-transform: uppercase;
  font-style: italic;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background: transparent;
}

.search-ranking input {
	height: 60px;
  font-size: 36px;
  color: #d6d7d7;
  font-weight: 300;
  text-transform: uppercase;
  font-style: italic;
  background: transparent;
  border: 0;
  width: 90%;
}

.search-ranking button {background: transparent; font-size:36px;color:#ccc;border: 0;}

.search-ranking {border-bottom:1px solid #8dc63f;}


#filtros .dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

#filtros .dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  font-size: 21px;
  border-radius: 3px;
  cursor: pointer;
}

table.table {margin-bottom: 0;}

table.table thead {
	background: #8dc63f;

}

table.table thead th {
	padding: 50px;
	color:#fff;
	font-size: 21px;
	font-weight: 300;
	text-transform: uppercase;
}

table.table tbody {
	background: #00464f;
	border: 0;
}

.table>tbody>tr>td {
	border: 0;
	font-weight: 300;
}

table.table tbody tr td {
	padding: 50px;
	color:#fff;
	border-bottom: 1px solid #fff;
}

#rkng button.btn-default {
	width: 100%;
	border: 0;
	background: #ccc;
	padding: 15px;
	color:#6d6d6d;
	text-transform: uppercase;
	font-size: 16px;
}


/* Academia de temos */


 .parallax1 {
  background: url("img/avancado.png");
  background-size: cover;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  background-position: 0 15%;
}


 .parallax2 {
  background: url("img/iniciante.png");
  background-size: cover;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  background-position: 0 15%;
}

 .parallax3 {
  background: url("img/aulaparticular.png");
  background-size: cover;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  background-position: 0 75%;
}

.parallax__group {
  position: relative;
  height: 450px;
  /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax__layer {
  background: url("img/boladetenis.png") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.parallax__layer--fore {
  -webkit-transform: translateZ(90px);
  transform: translateZ(90px);
  z-index: 5;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}
.parallax__layer--back {
  -webkit-transform: translateZ(-74px) scale(0.8);
  transform: translateZ(-74px) scale(0.8);
  z-index: 3;
}
.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(0.5);
  transform: translateZ(-600px) scale(0.5);
  z-index: 2;
}
.right {
  background-position: right;
}
.left {
  background-position: left;
}

/* Fitness */

#musculacao {
 background: #36597e;
 height: 450px;
}

#muscu {
	background: url("img/avancado.png");
  	display:flex;
  	height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 20%;
}

#musculacao h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
	color:#fff;
}

#aerobico {
	height: 450px;
	background: #a3ce4a;
}

#aero {
	background: url("img/iniciante.png");
  	display:flex;
  	height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 20%;
}

#aerobico h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
	color:#fff;
}

#aerobico .btn-default {
	background: #36597e;
}


#treinamentofuncional {
	background: #00464f;
	height: 450px;
}

#tf {
	background: url("img/aulaparticular.png");
  	display:flex;
  	height: 450px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0 80%;
}

#treinamentofuncional h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
	color:#fff;
}




#treinamentoavancado {
 background: #36597e;
 height: 450px;
}

#tabg {
	background: url("img/avancado.png");
  	display:flex;
  	height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 20%;
}

#escoladetenis {
 background: #a3ce4a;
  height: 450px;
}

#escoladetenis .btn-default {
	background: #36597e;
}

#escolatbg {
	background: url("img/iniciante.png");
  	display:flex;
  	height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 20%;
}

#aulasindividuais {
	background: #00464f;
	 height: 450px;
}

#indibg {
	background: url("img/aulaparticular.png");
  	display:flex;
  	height: 450px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0 80%;
}


#treinamentoavancado h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
	color:#fff;
}

#escoladetenis h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
	color:#fff;
}

#aulasindividuais h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
	color:#fff;
}

#locacaodequadra {
 background: #fff;
 height: auto;
}

#locacaodequadra #np {
	padding: 0;
}

#locacaodequadra h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
}

#locacaodequadra p {
	color:#353535 !important;
}


/* Conveniencia */

#conv.container-fluid {
	padding: 0;
}

#conv #alimentacao {
	background: #00464f;
	color:#fff;
}


#pad {
	padding: 60px;
}

#pad p {
	color:#fff;
	font-weight: 400;
	font-size:17px;
}

#alimentacao h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
}

#alimenbg {
	background: url("img/alimento.jpg");
  	height:400px;
  	display:flex;
  	align-items:center;
  	font-weight:bold;
  	font-size:3em;
  	justify-content:center;
  	background-attachment:fixed;
  	background-size: cover;
  	background-repeat: no-repeat;
}



#conv #esportivos {
	background: #9aca40;
	color:#fff;
}

#esportivos h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
}

#esporbg {
	background: url("img/esportivo.jpg");
  	height:400px;
  	display:flex;
  	align-items:center;
  	font-weight:bold;
  	font-size:3em;
  	justify-content:center;
  	background-attachment:fixed;
  	background-size: cover;
  	background-repeat: no-repeat;
}

#conv #gourmet {
	background: #36597e;
	
	color:#fff;
}

#gourmet h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
}

#gourmetbg {
	background: url("img/gourmet.jpg");
  	height:400px;
  	display:flex;
  	align-items:center;
  	font-weight:bold;
  	font-size:3em;
  	justify-content:center;
  	background-attachment:fixed;
  	background-size: cover;
  	background-repeat: no-repeat;
}

#conv #office {
	background: #00464f;
	color:#fff;
}

#office h3 {
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
}

#officebg {
	background: url("img/office.jpg");
  	height:400px;
  	display:flex;
  	align-items:center;
  	font-weight:bold;
  	font-size:3em;
  	justify-content:center;
  	background-attachment:fixed;
  	background-size: cover;
  	background-repeat: no-repeat;
}


/* Single post */

.blog {
  background-color: #F1F1F1;
  width: 100%;
  position: relative;
  z-index: 500;
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.33);
  margin-top: 40vh;
  height: auto;
}

.blog header {
	background: #d7d4d4;
}

.blog h3 {
	color:#787878;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	margin:30px 0 0;
}

.blog h4 {
	color:#787878;
	font-size: 17px;
	font-weight: 400;
	font-style: italic;
}

.blog p {
	font-size: 16px;
	font-weight: 400;
}

.blog .num {
	text-align: right;
	font-size: 16px;
	color:#313131;
	font-weight: 400;
	text-transform: uppercase;
	margin:3px 0;
}

.blog hr {
	border-top: 4px solid #ebebeb;
}

.blog aside .widget {
	background: #9aca40;
	padding: 10px;
	margin:15px 0;
}

.blog aside .widget img {
	width: 100%;
}

.blog .search-blog input {
	border: 0;
	background: #fff;
	padding: 10px;
	width: 89%;
	text-transform: uppercase;
	font-size: 12px;
}

.blog .search-blog button {
	background: transparent;
	border: 0;
	color:#fff;
	font-size: 21px;
}

.blog .widget h3 {
	font-size: 21px;
	color:#fdfdfd;
	text-transform: uppercase;
	font-weight: 400;
	margin:0;
}

.blog .widget .recent {
	padding-left: 0;
	list-style: none;
}

.blog .widget .recent li {
	padding: 5px 0;
}

.blog .widget .recent a {
	color:#fdfdfd;
}

.blog .widget .sociais {
	padding-left: 0;
	margin-bottom: 0;
	margin:10px 0;
}

.blog .widget .sociais li {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin:10px;
	font-size: 21px;
	padding: 7px 12px;
	background: #fff;
}

.blog .widget .sociais li a {
	color:#9aca40;
	font-size: 27px;
}


.myimage {
display:table;
position:relative;
margin:0 auto;
}

.myimage img {
opacity:1;
z-index:-1;
width: 100%;
}

.myimage .hovered {
display:table-cell;
width:auto;
height:50px;
opacity:0;
filter: alpha(opacity=0);
position: absolute;
top: 0;
z-index: 9999;
right: 0;
transition: top .5s, opacity .3s ease-in-out;
-webkit-transition: top .5s, opacity .3s ease-in-out;
-moz-transition: top .5s, opacity .3s ease-in-out;

}
.myimage:hover .post-image {
filter: alpha(opacity=60);
opacity:0.6;
}
.myimage:hover .hovered {
top: 5px;
opacity:1;
filter: alpha(opacity=100);
cursor:pointer;
}
.like-btn {
	background: #9aca40;
    border: 0 none;
    font-size: 20px;
    color: #fff;
    float: left;
    line-height: 1;
    margin-right: 5px;
    padding: 5px;
}


.comments{
  width:100%;
  background:#E6E7E8;
}

.comments ol {
  width:100%;
  display:block;
  padding-left: 0;
  list-style: none;
}

.comments ol li{
  padding-top:20px;
  border-bottom:2px dashed #E6E7E8;
  background:#FFFFFF;

}

.comments ol li:last-child {
	border: 0;
}


.author{
  width:200px;
  height:100px;
  text-align:center;
}

.author img, cite, .author a{
  float:left;
  clear:both;
}

cite, .author a{
  width:200px;
  color:#282a2d;
  font-size:12px;
}

cite{
  color:#282a2d;
  font-style:normal;
  font-size:18px;
  cursor:pointer;
}
.author img{
  width:90px;
  height:90px;
  margin:0 55px 10px 55px;
  cursor:pointer;
}

.comments p{
  float:left;
  width:65%;
  top:-75px;
  position:relative;
  background:#E6E7E8;
  min-height:40px;
  padding:20px;
  color:#cccc;
}

li p:before{
  content:"";
  position:absolute;
  width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #E6E7E8;
  left:-10px;
  bottom:10px;
}







.form span{
  color:#FFFFFF;
  font-size:28px;
  display:block;
  margin:30px 0 30px 0;
}

.form input, .form textarea {
	width: 100%;
	margin:5px 0;
	padding: 10px;
	border: 0;
}




/* loja de artigos */

#loja-destaque.container-fluid {
	padding: 0;
}

.cont {
	width: 300px;
	float: left;
}

#lista-artigos {
	padding: 60px 0;
}

#lista-artigos .col-md-3 img {
	width: 100%;
}

#lista-artigos h2 {
	text-transform: uppercase;
	color:#36597e;
	font-size: 30px;
}

#lista-artigos h3 {
	margin:5px 0;
	font-size: 21px;
}

#lista-artigos h4 {
	text-transform: uppercase;
	color:#353535;
	margin:0;
	font-size: 17px;
}

#lista-artigos hr {
	border-top: 4px solid #ededed;
}


 .search-icon {
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: none;
}

.search-toggle .search-icon {
	position: relative;
	top:40px;
}

.search-container .search-icon {
	color:#353535;
}

.search-toggle .search-icon.icon-close {
  display: none;
}
.search-toggle.opened .search-icon.icon-search {
  display: none;
}
.search-toggle.opened .search-icon.icon-close {
  display: block;
}

.search-container {
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  overflow: hidden;
  background-color: #eee;
}
.search-container.opened {
  max-height: 100px;
}
.search-container input[type="text"] {
  outline: none;
  font-size: 1.6rem;
  margin: 18px;
  width: 295px;
  background-color: inherit;
  border: 0;
}
.search-container .search-icon {
  vertical-align: middle;
}

.search-container {
    position: relative;
    right: 341px;
    top: 40px;
}





/* Footer */

footer {
	padding: 45px;
}

footer img {
	width: 80%;
}

footer h5 {
	color:#00464f;
	font-size:16px;
	font-weight: 600;
	text-transform: uppercase;
}

footer ul {
	padding-left: 0;
	list-style: none;
}

footer ul li {
	text-transform: uppercase;
	font-size:14px;
	padding-bottom: 5px;
}

footer ul li a {
	color:#0a090e;
}

footer ul li a:hover {
	text-decoration: none;
	color:#00464f;
	border-bottom:2px solid #00464f;
}

footer ul.social li {
	font-size: 18px;
	font-weight: 600;
}
footer ul.social li a {
	color:#00464f;
}
footer ul.social li a:hover {
	border-bottom: 0;
	color:#8fbf36;
}

footer i {
	width: 30px;
	height: 30px;
	padding: 8px;
	background: #00464f;
	color:#fff;
}



#bottom {
	padding: 20px 0;
}

#bottom p {
	text-transform: uppercase;
	font-size: 15px;
}


/*==========  Mobile    ==========*/

	@media only screen and (max-width: 1749px) {
		.col-xs-10 {width: 77%;}


		
	}

	@media only screen and (max-width: 1375px) {
		


		
	}


	@media only screen and (max-width: 1280px) {
		


		
	}
 
	/* Large Devices, Wide Screens */

	@media only screen and (max-width : 1200px){
	
	
		.navbar>.container-fluid .navbar-brand {
    		margin-left: 0px;
		}

		#ranking {height: 300px;}
		#locacao {height: 300px;}
		#academia {height: 300px;}
		#fitness {height: 300px;}

		.col-xs-10 {
    	width: 83.33333333% !important;
		}

		footer #logo {
			display: none;
		}

		.social li {display: inline;padding: 0 70px 0 0;}

		.search-ranking input {
	
		    width: 80%;
		}

 
	}
 
	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px){
 		
 		
 		
 		#oquefazemos h2 {
				font-size: 21px;
				text-transform: uppercase;
				text-align: center;
				color:#00464f;
				margin: 30px 0;
			}

			.contact {
				top:200px;
			}

 		#oquefazemos {	
				display: block;
				position: relative;
    			top: 40px;
    			padding: 20px 0;
			}


		#servicos {display: none;}

		#mulherbg {
			display: none;
		}

		#ftr {display: none;}

		#muscu {display: none;}
		#aero {display: none;}
		#tf {display: none;}


	}
 
	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px){

			.search-form {display: none}

			#formcontato {
				padding: 0 15px;
			}

			#info-c #soc {padding: 0 15px;}
			


 			.search-form-mobile {display: block;}

			.search-form-mobile i {color:#fff; font-size: 14px;}
			.search-form-mobile button {
				background: transparent;border: 0;
			}

			.search-form-mobile input {
				background: transparent;
				color:#fff;
				border: 0;
				font-style: italic;
				width: 70%;
			}

			.navbar .col-xs-12 {padding: 0;}

			.col-xs-12 .navbar-header {
    			width: 100%;
    			padding: 14px 0;
    			height: 150px;
			}

			.navbar-brand img {width: auto;margin: 0 auto;}

			.col-xs-12 .navbar-header .navbar-brand {float: none;}
					


			h1 {font-size: 37px;}

			#servicos {display: none;}
			#oquefazemos {	
				display: block;
				position: relative;
    			top: 0px;
    			padding: 20px 0;
			}

			#oquefazemos h2 {
				font-size: 21px;
				text-transform: uppercase;
				text-align: center;
				color:#00464f;
				margin: 30px 0;
			}

			#slider {position: relative;top:0px;}

			.container#footer {display: none;}

			#owl-principal.owl-theme .owl-controls {
			top:20%;
		}

		.navbar-nav {
			margin:60px 0 0 0;
			border-top:1px solid #fff;
		}

		.navbar-nav li a {
			padding: 13px;
		}

		form.search-news input {
			width: 80%;
			font-size: 30px;
		}




		.navbar-nav li {text-align: center;}

		#topbar.col-xs-12 {padding: 0;}
		.navbar-collapse {padding-left: 0;padding-right: 1px;}

			footer {
    			padding: 15px;
			}



		}


 
	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px){
 		.carousel-caption {top:5px;}
 		#iniciante img {
    		position: relative;
    		top: -14px;
    		left: 15px;
		}

		#slider {
			top:50px;
		}

		#oquefazemos {top:50px;}

		



	}
 
	/* Custom, iPhone Retina */
	@media only screen and (max-width : 375px){


		.col-xs-10 {
    		width: 80.333333%;
		}

		#oquefazemos {top:50px;}

		
 
	}

	@media only screen and (max-width : 320px){


		.col-xs-10 {
    		width: 73.333333%;
		}

		
 
	}