/*
 * Html elements
 */
.table > thead > tr > th,
.table > tbody > tr > td {
     vertical-align: middle;
     text-align: center;
}

/*
 * Breadcrumb
 */
.breadcrumb li a {
    color: #00464f  ;
}

/*
 * Pagination
 */
.pagination {
    background-color: #00464f;
}
.pagination-container {
    text-align: center;
}
.pagination {
    background-color: #fff;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #00464f;
}
.pagination>li>a, .pagination>li>span {
    color: #00464f;
}

/*
 * Buttons
 */
.btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:active, .btn-primary:link {
    background-color: #003846;
    border: 0;
}
.btn-success, .btn-success:hover, .btn-success:visited, .btn-sucess:active, .btn-sucess:link   {
    background-color: #36597e;
    border: 0;
}
.btn-warning, .btn-warning:hover, .btn-warning:visited, .btn-warning:active, .btn-warning:link  {
    background-color: #7ea927;
    border: 0;
}

/*
 * Panels
 */
.panel-default > .panel-heading {
    color: #FFF;
    background-color: #00464f;
    border-color: #00464f;
}

/*
 * Content's elements
 */
.content-options {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-main {
    
}
.content-main {
    
}
.content-widgets {
    
}
.content-send {
    background-color: #f5f5f5;
    padding: 15px;
}

/*
 * Global add-ons
 */

.material-icons {
    vertical-align: -20%;
}
.content-options .material-icons {
    font-size: 14px;
}

.sortable-icon {
    cursor: grab;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
