.thumb-jogador {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
.thumb-min-jogador {
    border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}
.thumb-jogador img, .thumb-min-jogador img {
    display: block;
    height: 100%;
    width: 100%;
}


/*------*/

