/**
* Geral
*/

html,
body {
    margin: 0;
    overflow-x: hidden;
    font-family: proxima-nova-condensed, open sans, Arial, sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 67px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.row h3 {
    font-size: 20px !important;
    font-weight: 800 !important;
    color: #fff !important;
}

.box-servico {
    float: left;
    width: 22.5%;
    margin-left: 2.5%;
    margin-top: 30px;
}

.imagem-esquerda {
    float: right;
}

.box-servico img {
    width: 100%;
}

div#quadrabg {
    background: url("../img/quadras.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 40%;
}

.titulo h3 {
    font-size: 26px;
}
/* LOGO */

.navbar-header a {
    width: 110%;
    height: auto;
    padding: 10px;
}
/* Menu */

.soc-b {
    /*    margin-left: 40%;*/
}

.men {
    font-size: 14px !important;
}

.navbar {
    background: #00464f;
    /*height: 120px;*/
    border: 0;
    margin: 0;
}

.post h3 {
    color: #787878 !important;
}

.navbar {
    border: 0;
    margin: 0;
    z-index: 100;
}

.navbar .row {
    background: #fff;
}
/*.navbar .col-md-2 {background: #fff;}
.navbar .col-lg-3 {background: #fff;} */

.col-lg-3 .navbar-header {
    width: 100%;
    padding: 7px 0;
    height: 110px;
}

.navbar-header .navbar-brand {
    float: right;
}

.navbar-header {
    float: right;
}

.navbar-brand {
    padding: 0;
    height: 100px;
}

.navbar-nav li a {
    padding: 15px 10px;
}

.navbar-default {
    background: #235594;
}

.navbar-default li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-default li:first-child {
    background: #1e508f;
}

.navbar-default li a {
    padding: 20px;
    color: #fff;
    line-height: 1.6;
}

#searchbar.row {
    background: #00464f;
}

#top.row {
    background: #282a2d;
}

#topbar {
    padding-right: 0;
}

.socialbar {
    background: #202224;
}

.col-md-4.socialbar {
    padding: 0;
}

.socialbar ul li {
    display: inline-block;
    font-size: 24px;
}

.socialbar ul li a {
    padding: 13px;
    color: #fff;
}

.navbar-nav li a {
    color: #f2f2f2;
    text-transform: uppercase;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background: #202224 !important;
}

.ativo {
    border-bottom: 5px solid #7ea927;
    color: #7ea927 !important;
    height: 55px;
}

.ativo a,
.ativo a:visited,
.ativo a:link {
    color: #7ea927 !important;
}

.soc-b>li>a {
    padding: 15px 15px;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
}

.soc-b li {
    font-size: 24px;
    display: inline-block;
}
}
.search-toggle {
    padding: 15px 0;
}

/* Search Form */
.search-form {
    float: left;
    padding-top: 20px;
}
.search-form i {
    color: #fff;
}
.search-form input {
    font-style: italic;
    width: 300px;
    color: #fff;
    border: 0;
    outline: none;
    background: transparent;
}

/* Menu mobile */
.search-form-mobile {
    width: 100%;
    background: #00464f;
    padding: 18px;
    position: absolute;
    top: 100%;
    display: none;
    z-index: 100;
}
.navbar-toggle {
    background: #282a2d;
    float: none;
    top: 100%;
    z-index: 100;
    right: 0;
    border-radius: 0;
    margin: 0;
    padding: 18px 20px;
    position: absolute;
    z-index: 110;
}
.navbar-toggle .icon-bar {
    background: #fff;
    width: 40px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 10px;
}
#oquefazemos {
    display: none;
    background: url("../img/bg-servicos.png");
    background-size: cover;
}
#monteseuplano input {
    width: 40px;
    background: #7ea927;
    border: 0;
    color: #fff;
    padding: 4px;
    height: 35px;
    margin-bottom: 4px;
}
#monteseuplano .contactform input {
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #8dc63f;
    color: #666;
    outline: none;
    background: #fff;
}
.sp-label {
    margin-left: 5px;
}
.flip-switch {
    display: block;
    height: 35px;
    width: 40px;
    background: #182029;
    perspective: 50px;
    -webkit-perspective: 50px;
    -moz-perspective: 50px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    float: left;
}
.flip-switch input {
    display: none;
}
.flip-switch label {
    display: block;
    position: relative;
    height: 35px;
    width: 40px;
    outline: none;
    margin: 0 auto;
    -webkit-appearance: none;
    background: none;
    border: none;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    animation: uncheck 0.6s ease-out;
    -webkit-animation: uncheck 0.6s ease-out;
    -moz-animation: uncheck 0.6s ease-out;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.flip-switch label:before,
.flip-switch label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    text-align: center;
}
.flip-switch label:before {
    z-index: 2;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    background: #E65757;
}
.flip-switch label:after {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    background: #7ea927;
}
.flip-switch input:checked + label {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    animation: check 0.6s ease-out;
    -webkit-animation: check 0.6s ease-out;
    -moz-animation: check 0.6s ease-out;
}
.flip-switch.flip-switch-icon label:before,
.flip-switch.flip-switch-icon label:after {
    font-family: 'FontAwesome';
    color: white;
    font-size: 2rem;
    line-height: 32px;
}
.flip-switch.flip-switch-icon label:before {
    content: '\f00d';
}
.flip-switch.flip-switch-icon label:after {
    content: '\f00c';
}
.flip-switch.flip-switch-text label:before,
.flip-switch.flip-switch-text label:after {
    color: white;
    line-height: 32px;
    font-weight: 900;
    font-size: 1.3rem;
}
.flip-switch.flip-switch-text label:before {
    content: 'OFF';
}
.flip-switch.flip-switch-text label:after {
    content: 'ON';
}
@keyframes check {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(195deg);
    }

    75% {
        transform: rotateY(165deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}
@-webkit-keyframes check {
    0% {
        -webkit-transform: rotateY(0deg);
    }

    50% {
        -webkit-transform: rotateY(195deg);
    }

    75% {
        -webkit-transform: rotateY(165deg);
    }

    100% {
        -webkit-transform: rotateY(180deg);
    }
}
@-moz-keyframes check {
    0% {
        -moz-transform: rotateY(0deg);
    }

    50% {
        -moz-transform: rotateY(195deg);
    }

    75% {
        -moz-transform: rotateY(165deg);
    }

    100% {
        -moz-transform: rotateY(180deg);
    }
}
@keyframes uncheck {
    0% {
        transform: rotateY(180deg);
    }

    50% {
        transform: rotateY(-15deg);
    }

    75% {
        transform: rotateY(15deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}
@-webkit-keyframes uncheck {
    0% {
        -webkit-transform: rotateY(180deg);
    }

    50% {
        -webkit-transform: rotateY(-15deg);
    }

    75% {
        -webkit-transform: rotateY(15deg);
    }

    100% {
        -webkit-transform: rotateY(0deg);
    }
}
@-moz-keyframes uncheck {
    0% {
        -moz-transform: rotateY(180deg);
    }

    50% {
        -moz-transform: rotateY(-15deg);
    }

    75% {
        -moz-transform: rotateY(15deg);
    }

    100% {
        -moz-transform: rotateY(0deg);
    }
}
.modal-content {
    border-radius: 0;
}
.modal-body {
    padding: 0;
}
.modal-body img {
    width: 100%;
}
.modal-footer {
    text-align: center;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #135962;
    border-color: #135962;
    cursor: pointer;
}
.pagination li a {
    cursor: pointer;
}

/* Carousel */
#owl-principal .item img {
    display: block;
    width: 100%;
    height: auto;
}
#owl-principal.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 25px;
}
#owl-principal.owl-theme .owl-dots .owl-dot {
    display: block;
}
#owl-principal.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: #d6d6d6;
    filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
}
#owl-principal.owl-theme .owl-dots .owl-dot.active span {
    background: #7ea927;
}
#owl-mob.owl-carousel img {
    width: 50%;
    margin: 0 auto;
}
#owl-mob.owl-carousel .owl-stage-outer {
    overflow: initial;
}
#owl-mob.owl-carousel {
    padding: 30px 0;
}
#owl-mob.owl-theme .owl-dots .owl-dot {
    margin: 0 5px;
}
#owl-mob.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: #d6d6d6;
    filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
}
#owl-mob.owl-theme .owl-dots .owl-dot.active span {
    background: #00464f;
}
#owl-ranking.owl-carousel img {
    width: auto;
}
#owl-ranking.owl-carousel .owl-stage-outer {
    overflow: initial;
}
.glyphicon {
    color: #7ea927;
    position: none;
    top: -2px;
    text-decoration: none;
}
.rank-menu p {
    color: #2b686e;
    display: inline-block;
    font-family: open sans, sans-serif;
    font-size: 9px;
    text-decoration: none;
}

.rank-controller {
    text-decoration: none;
}

.rank-menu span {
    text-decoration: none;
}
#owl-ranking.owl-theme .owl-dots .owl-dot {
    margin: 0 5px;
}
#owl-ranking.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: #d6d6d6;
    filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
}
#owl-ranking.owl-theme .owl-dots .owl-dot.active span {
    background: #00464f;
}
#owl-ranking .owl-item.active {
    visibility: visible;
    opacity: 1;
}
#owl-ranking .owl-item {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.9s linear;
}
.item h1 {
    color: #fff;
    position: absolute;
    top: 40%;
    margin: 0;
    left: 18%;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}
.item h1 span {
    color: #7ea927;
}
.header-table {
    background: #00464f;
}

/* ServiÃ§os */
#servicos {
    padding: 50px 0;
    background: #f2f2f2;
    background: url("../img/bg-servicos.png");
    background-size: cover;
}
#servicos img {
    display: block;
    margin: 0 auto;
}
.t1 {
    font-size: 26px;
    padding-right: 5px;
}
.t2 {
    font-size: 22px;
    padding-right: 5px;
}
.t3 {
    font-size: 18px;
    padding-right: 5px;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.word-cloud {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-align: justify;
}
.word-cloud__word {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    color: #90d6f3;
}
.word-cloud__word--x-small,
.word-cloud__word--small {
    font-weight: 100;
}
.word-cloud__word--x-small {
    font-size: 10px;
    color: #c6e8f7;
}
.word-cloud__word--small {
    font-size: 13px;
    color: #b0def2;
}
.word-cloud__word--large {
    font-size: 22px;
    color: #0fa0dd;
}
.word-cloud__word--x-large {
    font-size: 32px;
    letter-spacing: -0.0125em;
    color: #0a79a7;
}
.tag {
    color: #777;
    font-family: Raleway, open sans, Arial, sans-serif;
    list-style: none;
    padding: 10px;
    width: 100%;
}
#listas-servicos ul li a:hover {
    text-decoration: none;
}
.titulo h3 {
    text-align: center;
    color: #00464f !important;
    font-size: 18px !important;
}
#iniciante img {
    position: absolute;
    top: -13px;
    left: 19%;
}
#avancado img {
    position: absolute;
    top: -22px;
    left: 16%;
}
#fit img {
    position: absolute;
    top: -38px;
    left: -40px;
}

/* Banners antes do footer */
#banners {
    padding: 0;
}
.rank-controller {
    color: #FFFFFF;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.rank-controller:hover {
    text-decoration: none;
}




.rank-previous {
    float: left;
    text-decoration: none;
    list-style: none;
}
.rank-next {
    float: right;
    text-decoration: none;
    list-style: none;
}
#ranking {
    background: #8fbf36;
    background: url('../img/fundotennis1.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    z-index: 2;
}
.ftr-rank {
    margin-left: 2px;
}
.item.item-ranking {
    display: table;
    width: 100%;
    margin-left: 0px;
}
.col-md-6.col-sm-12.col-xs-12 {
    width: 50%;
    padding: 4px;
    min-height: 256px;
}
.name-rank {
    text-align: center;
}
#ranking .btn-default {
    background: #36597e;
    text-transform: none;
    margin-top: -16px;
    margin-right: 15px;
}
#ranking .btn-default:hover {
    background: #fff;
    color: #36597e;
    #text-transform: none;
}
#ranking h3 {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}
#ranking h4 {
    margin: 20px 0 0 0;
    color: #fff;
    font-style: normal;
}
#ranking .rank {
    margin: 30px 15px;
    padding: 0;
    list-style-type: none;
    border: 1px solid #00464f;
    font-size: 11px;
}
.rank li .col-xs-4 {
    padding: 0;
}
.rank li {
    padding: 5px 0;
    border-bottom: 1px solid #00464f;
}
.table {
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
#decoration,
#decoration2,
#decoration3 {
    position: absolute;
    background-color: yellow;
    width: 420px;
    height: 70px;
    opacity: 0;
    border-radius: 10px;
}
#decoration2 {
    background-color: magenta;
}
#decoration3 {
    background-color: cyan;
}
.leader {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.leader li {
    background-color: #2b686e;
    border-radius: 5px;
    height: 70px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.leader li .list_num {
    float: left;
    line-height: 40px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
    margin: 15px;
    font-weight: none;
    width: 20px;
    text-align: right;
    margin-left: 10px;
}
.leader li h2 {
    display: block;
    margin: 0;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
    line-height: 40px;
    font-weight: 300;
    margin-top: 15px;
    padding-right: 20px;
}
.leader li h2 .number {
    float: right;
    font-weight: none;
    color: rgba(255, 255, 255, 0.85);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.leader li img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 15px 20px;
    margin-left: 0;
    border-radius: 100%;
    background-color: #fff;
}

/*.rank li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  text-align: left;
}

.rank li::before {
  content: counter(step-counter);
  margin-right: 70px;
  font-size: 16px;
  color: white;
  padding: 0px 8px;
  border-radius: 3px;
  float: left;
}

.rank li p {
        float: left;
        margin-right: 70px;
} */
#tagcloud a {
    cursor: pointer;
    color: rgb(255, 255, 255);
}
#tagcloud a:hover {
    text-decoration: none;
}
#tagcloud img {
    margin-top: 2px;
    margin-left: -75px;
    width: 115%;
}
#locacao {
    background: #175d66;
    background: url('../img/fundoquadra1.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    /*padding: 45px 30px;*/

    text-transform: uppercase;
    z-index: 10;
}
#locacao a {
    color: #fff;
}
#locacao a:hover {
    text-decoration: none;
}
#locacao h2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-transform: none;
    font-weight: normal;
}
.box-flex-inner h2 {
    position: relative;
    top: 10px;
}
#locacao h3 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
#academia {
    background: #21212d;
    background: url('../img/fundoacademia.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    /*padding: 45px 30px;*/

    text-transform: uppercase;
    z-index: 10;
}
#academia h2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-transform: none;
    font-weight: normal;
}
#academia h3 {
    font-size: 20px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#fitness {
    background: #0a090e;
    background: url('../img/fundofitness1.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    /*padding: 45px 30px;*/

    text-transform: uppercase;
    z-index: 10;
}
#fitness h2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-transform: none;
    font-weight: normal;
}
#fitness h3 {
    font-size: 20px;
    padding: 0!important;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Contact Page */
[include*="form-input-select()"] {
    display: block;
    padding: 0;
    position: relative;
    /* Set options to normal weight */
    /* ------------------------------------  */
    /* START OF UGLY BROWSER-SPECIFIC HACKS */
    /* ----------------------------------  */
    /* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container.
       The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex.
       You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
    /* Show only the native arrow */

    color: #005BA6;
    display: block;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}
[include*="form-input-select()"]::before,
[include*="form-input-select()"]::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}
[include*="form-input-select()"] select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: none;
    /* Focus style */
}
[include*="form-input-select()"] select:focus {
    background-color: #fff;
    outline: none;
}
[include*="form-input-select()"] option {
    font-weight: normal;
}
[include*="form-input-select()"] x:-o-prefocus,
[include*="form-input-select()"]::after {
    display: none;
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    [include*="form-input-select()"] select::-ms-expand {
        display: none;
    }

    [include*="form-input-select()"] select:focus::-ms-value {
        background: transparent;
        color: #000;
    }
}
[include*="form-input-select()"]::before,
[include*="form-input-select()"]::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 16px;
}
[include*="form-input-select()"]::before {
    bottom: 55%;
    border-width: 0 6.5px 8px 6.5px;
    border-bottom-color: #D6D6D6;
}
[include*="form-input-select()"]::after {
    border-width: 8px 6.5px 0 6.5px;
    border-top-color: #D6D6D6;
    top: 55%;
}
@-moz-document url-prefix() {
    [include*="form-input-select()"] {
        border-right: 3px solid #E6E6E6;
    }

    [include*="form-input-select()"]:hover {
        border-right: 3px solid #00464f;
    }
}
[include*="form-input-select()"]:hover select {
    box-shadow: 0 2px 3px rgba(0, 91, 166, 0.1) inset;
    border-color: #00464f;
}
[include*="form-input-select()"]:hover select:focus {
    outline-color: transparent;
}
[include*="form-input-select()"]:hover::before {
    border-bottom-color: #00464f;
}
[include*="form-input-select()"]:hover::after {
    border-top-color: #00464f;
}
[include*="form-input-select()"] select {
    border-bottom: 1px solid #8dc63f;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: #fff;
    border-radius: 0;
    color: inherit;
    padding: 10px;
    line-height: normal;
    -webkit-transition: border-color 0.2s ease, outline 0.2s ease;
    transition: border-color 0.2s ease, outline 0.2s ease;
}
[include*="form-input-select()"] select:focus {
    outline-offset: -3px;
}
[include*="form-input-select()"] select[disabled],
[include*="form-input-select()"] select:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
[include*="form-input-select()"] select:invalid {
    color: #C7C7C7;
}
.contact {
    width: 100%;
    height: 20vh;
    position: relative;
    display: block;
    top: 0px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.5);
    padding: 50px;
}
.contact h1 {
    color: #353535;
    font-weight: 600;
    font-size: 86px;
    text-align: right;
}
.contact .breadcrumb {
    text-align: right;
    padding: 0;
}
#map iframe {
    width: 800px;
    height: 230px;
    margin-top: 25px;
}
#mapa {
    width: 50%;
    margin-top: 0px;
}
@media (max-width: 1960px) {
    #map iframe {
        width: 400px;
        height: 200px;
    }

    #soc {
        width: 100%;
    }

    #informacoes {
        width: 100%;
    }
}
#formcontato {
    position: relative;
    top: -300px;
    padding: 50px 0;
}
#formcontato h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
}
#formcontato p {
    font-size: 16px;
    font-weight: 400;
}
.contactform input {
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #8dc63f;
    color: #666;
    outline: none;
}
.contactform textarea {
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #8dc63f;
    color: #666;
}
.contactform button {
    padding: 10px 60px;
    background: #294c72;
    color: #fff;
    border: 0;
}
#info-c .row {
    padding: 10px 0;
}
#info-c .row .col-md-4 {
    font-weight: 600;
    font-size: 17px;
}
#info-c .row .col-md-8 {
    font-weight: 400;
    font-size: 15px;
    padding: 0;
}
#info-c #soc {
    border-top: 1px solid #8dc63f;
}
#soc ul {
    width: 50%;
    float: left;
    margin-left: -26px;
}
#soc ul li {
    display: inline;
}
#soc ul li a i {
    width: 30px;
    height: 30px;
    background: #00464f;
    color: #fff;
    font-size: 22px;
    padding: 5px;
}

/* A Tennis square */
#artigos.parallax {
    width: 100%;
    height: 60vh;
    background: url("../img/404_1.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    z-index: -9999;
}
#tennis.parallax {
    width: 100%;
    height: 40vh;
    background: url("../img/pattern.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: repeat-y;
    position: fixed;
    display: block;
    top: 0;
    z-index: 1;
}
.parallax h1 {
    color: #FFFFFF;
    height: 100vh;
    background-size: cover;
    text-shadow: 2px 2px 8px #353535;
    position: absolute;
    top: 150px;
    left: 20%;
}
.parallax h1 span {
    color: #7ea927;
}
.content {
    background-color: #fff;
    width: 100%;
    position: relative;
    z-index: 10;
    /*box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.33);*/

    margin-top: 30vh;
    height: auto;
}
.content h2 {
    color: #282a2d;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}
.content header {
    background: #00464f;
}
.breadcrumb {
    padding: 10px;
    list-style: none;
    border-radius: 0px;
    background: transparent;
    margin-bottom: 0;
}
.breadcrumb>.active {
    color: #7ea927 !important;
}
.breadcrumb li {
    font-size: 17px;
}
.breadcrumb li a {
    color: #fff;
}
.breadcrumb>li+li:before {
    color: #fff;
    content: "\f105";
    font-family: 'FontAwesome';
}
#partefisica {
    background: #36597e;
    height: 500px;
    color: #fff;
}
#partefisica img {
    width: 1047px;
    position: absolute;
    left: -232px;
    top: -10px;
}
#partefisica h3 {
    font-weight: 300;
    font-size: 24px;
    padding-top: 50px;
}
#dest-tennis {
    background: #36597e;
    padding: 20px 0;
}
#parceiros {
    background: #00464f;
    margin-top: 1px;
}
.parceiro {
    margin-bottom: 25px;
}
.col-md-3,
.row {
    padding: 0;
    margin: 0;
}

/* make the well swell */
.well {
    border-color: #eee;
}
.item h4 a {
    color: #333;
}
.item img.image {
    max-width: 100%;
    padding-top: 9px;
}
img .img-responsive {
    display: block;
    min-width: 100%;
}
.info {
    padding: 4px;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

/* responsive media queries */
.menusite {
    margin-left: 0px;
}
.sociais-box {
    margin-right: 10px;
}
@media (max-width: 768px) {
    header h1 small {
        display: block;
    }

    header div.description {
        padding-top: 9px;
        padding-bottom: 4px;
    }

    .isotope .item {
        position: static ! important;
        -webkit-transform: translate(0px, 0px) ! important;
        -moz-transform: translate(0px, 0px) ! important;
        transform: translate(0px, 0px) ! important;
    }

    .rank-menu h2 {
        margin: 0;
        margin-top: -5px;
    }
}
.fitness-list {
    list-style: none;
    padding-left: 0;
}
.fitness-list li {
    font-size: 17px;
    font-weight: 300;
}
.next1 {
    font-size: 14px;
}
#container-content {
    padding-top: 20px;
    padding-bottom: 19px;
}
#container-content p {
    margin-top: 7px;
}
#cont {
    padding: 60px 0;
}
.content p {
    font-size: 16px;
    color: #222222;
    /* line-height: 28px; */

    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
}
.content h1 {
    background-color: #2196F3;
    color: #FFFFFF;
    padding: 0;
}
.content h1 span {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}
.image-2 {
    width: 100%;
    height: 50vh;
    background: url(http://static.bigstockphoto.com/images/tutorials/background.jpg);
    background-position: center center;
    background-size: cover;
    position: fixed;
    display: block;
    top: 500px;
    z-index: 500;
}
#srvc {
    background: #36597e;
    padding: 57px 0px;
    float: left;
    width: 100%;
    text-align: center;
}
#srvc h3 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
#srvc p {
    color: #fff;
    text-align: center;
    line-height: 17px;
}
#srvc img {
    display: block;
    margin: 0 auto;
}
#estrutura {
    background: #36597e;
}
#estrutura h3 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
#estrutura p {
    color: #fff;
    text-align: center;
    line-height: 17px;
}
#estrutura button {
    text-align: center;
    margin: 0 auto;
    display: block;
}
#galeria {
    padding: 60px 0;
    background: #fff;
}

.fotos {
    margin: -10;
    padding: 0;
}
.circle {
    height: 250px;
    width: 250px;
    background: #CDCDCD;
    border-radius: 50%;
    margin: 0 auto;
}
.traco {
    background: #fff;
    height: 50px;
    width: 3px;
    left: 50%;
    margin-top: 20px;
    position: relative;
}
.traco2 {
    background: #00464f;
    height: 50px;
    width: 3px;
    left: 50%;
    margin-top: 20px;
    position: relative;
}
.circle i {
    font-size: 120px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
    color: #fff;
}
#galeria h3 {
    font-style: italic;
    font-weight: 300;
    color: #36597e;
    margin-bottom: 30px;
}
a {
    color: #222;
}

/* News */
form.search-news {
    margin: 20px 0;
    border-bottom: 2px solid #7ea927;
}
form.search-news input {
    width: 90%;
    background: transparent;
    border: 0;
    font-style: italic;
    font-size: 16px;
    padding: 10px;
    font-weight: 300;
    outline: none;
}
form.search-news button {
    background: transparent;
    border: 0;
    font-size: 16px;
    color: #ccc;
    float: right;
}
#news .col-md-3 {
    padding: 0;
}
#news .info {
    position: absolute;
    top: 20px;
    color: #000;
    left: 20px;
    z-index: 99999;
    text-align: left;
    height: 100%;
    width: 100%;
}
#news .info h5 {
    font-size: 14px;
    font-weight: 300;
    color: #838282;
}
#news .info h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    width: 90%;
    color: #383838 !important;
}
#news .info button {
    bottom: 40px;
    position: absolute;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    background: transparent;
}
.nd-wrap {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    height: 320px;
}
.nd-wrap img {
    width: 100%;
    display: block;
    opacity: 0.3;
}
.nd-title {
    position: relative;
    top: -150px;
    opacity: 0;
    margin: 0 0 30px;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 1s ease 0.01s;
    transition: all 1s ease 0.01s;
}
.nd-title span {
    color: #fff;
    padding: 0 20px 15px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
}
.nd-icon {
    color: #000;
    display: inline-block;
    font-size: 25px;
    margin: 0 5px;
    opacity: 0;
    position: relative;
    cursor: pointer;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
    transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
}
.nd-icon span {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    padding: 10px 15px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.nd-icon:hover span {
    background: #fff;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.nd-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nd-content_inner {
    display: table;
    width: 100%;
    height: 100%;
}
.nd-content_inner1 {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* =============== HOVER AREA =============== */
.nd-wrap:hover .nd-icon,
.nd-wrap:hover .nd-content,
.nd-wrap:hover .nd-title {
    opacity: 1;
    top: 0;
}
.nd-wrap:hover img {
    opacity: 1 !important;
}
#news .info:hover {
    position: absolute;
    top: 20px;
    color: #e9e9e9;
    left: 20px;
    z-index: 99999;
    text-align: left;
    height: 100%;
}
#news .info:hover h3 {
    color: #e9e9e9 !important;
}
#news .info:hover h5 {
    color: #e9e9e9;
}
#news .info:hover button {
    bottom: 40px;
    position: absolute;
    background: #9aca40;
    color: #fff;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
}
.nd-wrap:hover .nd-title {
    -webkit-transition: all 0.5s cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.01s;
    transition: all 0.5s cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.01s;
}
.nd-wrap:hover .nd-content {
    background: rgba(19, 89, 98, 0.5);
}

/* =============== SET DELAY FOR ICONS WHEN HOVER =============== */
.nd-content .nd-icon:nth-of-type(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.nd-content .nd-icon:nth-of-type(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.nd-content .nd-icon:nth-of-type(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.nd-content .nd-icon:nth-of-type(4) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

/* ============================== HOVER STYLE ============================== */

/* =============== STYLE 1 =============== */
.nd-style-1 .nd-icon {
    top: 150px;
}

/* =============== STYLE 2 =============== */
.nd-style-2 .nd-icon {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
}
.nd-wrap.nd-style-2:hover .nd-icon {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* =============== STYLE 3 =============== */
.nd-style-3 .nd-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.nd-wrap.nd-style-3:hover .nd-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* =============== STYLE 4 =============== */
.nd-style-4 .nd-icon {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
}
.nd-wrap.nd-style-4:hover .nd-icon {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* =============== STYLE 5 =============== */
.nd-wrap.nd-style-5:hover .nd-title {
    -webkit-transition: all 0.5s ease 0.01s;
    transition: all 0.5s ease 0.01s;
}
.nd-style-5 .nd-icon {
    top: 150px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

/* =============== STYLE 6 =============== */
.nd-wrap.nd-style-6:hover .nd-title {
    -webkit-transition: all 0.5s ease 0.01s;
    transition: all 0.5s ease 0.01s;
}
.nd-style-6 .nd-icon {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.nd-wrap.nd-style-6:hover .nd-icon {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* =============== STYLE 7 =============== */
.nd-wrap.nd-style-7:hover .nd-title {
    -webkit-transition: all 0.5s ease 0.01s;
    transition: all 0.5s ease 0.01s;
}
.nd-style-7 .nd-icon {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.nd-wrap.nd-style-7:hover .nd-icon {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* =============== STYLE 8 =============== */
.nd-wrap.nd-style-8:hover .nd-title {
    -webkit-transition: all 0.5s ease 0.01s;
    transition: all 0.5s ease 0.01s;
}
.nd-style-8 .nd-icon {
    -webkit-transform: rotate(180deg) scale(1.5, 1.5);
    transform: rotate(180deg) scale(1.5, 1.5);
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.nd-wrap.nd-style-8:hover .nd-icon {
    -webkit-transform: rotate(360deg) scale(1, 1);
    transform: rotate(360deg) scale(1, 1);
}
.pagin {
    text-align: center;
}
.prev {
    background: #135962;
    height: 58px;
    width: 58px;
    position: absolute;
    left: 0;
    font-size: 36px;
    color: #fff;
    padding: 5px;
}
.next {
    background: #135962;
    padding: 5px;
    position: absolute;
    right: 0;
    height: 58px;
    width: 58px;
    font-size: 36px;
    color: #fff;
}
.pagination {
    margin: 10px 0;
}
.pagination li a {
    background: transparent;
    border: 0;
}
.pagination li a {
    color: #135962;
}

/* Ranking Table */
#rkng .col-md-12 {
    padding: 0;
}
#filtros {
    padding: 0px 0;
}
#filtros select {
    width: 100%;
}
.search-ranking input {
    height: 30px;
    font-size: 16px;

    font-weight: 300;
    text-transform: uppercase;
    font-style: italic;
    background: transparent;
    border: 0;
    width: 90%;
    outline: none;
    float: left;
}
.search-ranking button {
    background: transparent;
    font-size: 16px;
    color: #ccc;
    border: 0;
}
.search-ranking {
    border-bottom: 1px solid #7ea927;
    width: 95%;
    margin-left: 13px;
}
#filtros .dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
}
#filtros .dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    font-size: 21px;
    border-radius: 3px;
    cursor: pointer;
}
.rankg {
    margin-bottom: 30px;
}
.table-users {
    max-width: calc(100%);
    overflow: hidden;
}
table {
    width: 100%;
}
table thead {
    background: #282a2d;
}
table td,
table th {
    color: #fff;
    padding: 5px 15px;
}
table thead tr {
    background: #282a2d;
}
table tr {
    background: #2b686e;
}
table td {}
table td:last-child {
    padding: 0;
    text-align: left;
}
@media screen and (max-width: 700px) {
    table,
    tr,
    td {
        display: block;
    }

    td:first-child {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100px;
    }

    td:not(:first-child) {
        clear: both;
        margin-left: 100px;
        padding: 4px 20px 4px 90px;
        position: relative;
        text-align: left;
    }

    td:not(:first-child):before {
        color: #91ced4;
        content: '';
        display: block;
        left: 0;
        position: absolute;
    }

    td:nth-child(2):before {
        content: 'Name:';
    }

    td:nth-child(3):before {
        content: 'Email:';
    }

    td:nth-child(4):before {
        content: 'Phone:';
    }

    td:nth-child(5):before {
        content: 'Comments:';
    }

    tr {
        padding: 10px 0;
        position: relative;
    }

    tr:first-child {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .header {
        background-color: transparent;
        color: white;
        font-size: 2em;
        font-weight: 700;
        padding: 0;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    td:first-child {
        background-color: #c8e7ea;
        border-bottom: 1px solid #91ced4;
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 100%;
    }

    td:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;
    }

    td:not(:first-child):before {
        font-size: .8em;
        padding-top: 0.3em;
        position: relative;
    }

    td:last-child {
        padding-bottom: 1rem !important;
    }

    tr {
        background-color: white !important;
        border: 1px solid #6cbec6;
        border-radius: 10px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
        padding: 0;
    }

    .table-users {
        border: none;
        box-shadow: none;
        overflow: visible;
    }
}
table.table {
    margin-bottom: 0;
}
.tit-tab {
    background: #7ea927;
    padding: 15px 0 9px 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-top: 2px solid #fff;
    margin-bottom: 10px;
    border-radius: 5px;
}
.tab1 {
    margin-bottom: 20px;
}
.tab2 {
    margin-bottom: 20px;
}
.tab3 {
    margin-bottom: 20px;
}
table.table thead {
    background: #282a2d;
}
table.table thead th {
    padding: 8px 50px;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
}
.table>thead>tr>th {
    border-bottom: 0;
}
table.table tbody {
    background: #00464f;
    border: 0;
}
.table>tbody>tr>td {
    border: 0;
    font-weight: 300;
}
table.table tbody tr td {
    padding: 8px 50px;
    color: #fff;
    border-bottom: 1px solid #252525;
    font-size: 18px;
}

/*table.table tbody tr td:last-child {
        padding: 0;
        width: 8%;
}

table.table tbody tr td img {
        width: 100%;
} */
#rkng button.btn-default {
    width: 100%;
    border: 0;
    background: #ccc;
    padding: 15px;
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 16px;
}

/* Fitness */
#musculacao {
    background: #36597e;
    height: auto;
}
#muscu {
    background: url("../img/musc.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 46%;
}
#musculacao h3 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
#muscu .btn-default:hover {
    background: #fff;
    color: #36597e;
}
#aerobico {
    height: auto;
    background: #7ea927;
}
#aero {
    background: url("../img/funci.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 46%;
}
#spi {
    background: url("../img/spinning.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
#pjump {
    background: url("../img/pjump.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
#gap {
    background: url("../img/gap.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
#zumba {
    background: url("../img/zumba.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
#pilates {
    background: url("../img/pilates.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
#func-tr {
    background: url("../img/tr-funcional.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
#yoga {
    background: url("../img/yoga.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
#mass {
    background: url("../img/massagem.png");
    display: flex;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
#aerobico h3 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
#aerobico .btn-default {
    background: #36597e;
}
#aerobico .btn-default:hover {
    background: #fff;
    color: #36597e;
}
#treinamentofuncional {
    background: #00464f;
    height: auto;
}
#tf {
    background: url("../img/pilat.png");
    display: flex;
    height: 350px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
#treinamentofuncional h3 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

/* Conveniencia */
#conv.container-fluid {
    padding: 0;
}
#conv #alimentacao {
    background: #00464f;
    color: #fff;
}
#pad {
    padding: 30px 0px 0px 60px;
}
#pad p {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    width: 85%;
    text-align: justify;
}
#alimentacao h3 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
}
#alimenbg {
    background: url("../img/alimento.jpg");
    height: 400px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 3em;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#conv #esportivos {
    background: #36597e;
    color: #fff;
}
#esportivos h3 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
}
#esporbg {
    background: url("../img/esportivo.jpg");
    height: 400px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 3em;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#conv #gourmet {
    background: #36597e;
    color: #fff;
}
#gourmet h3 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
}
#gourmetbg {
    background: url("../img/gourmet.jpg");
    height: 400px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 3em;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#conv #office {
    background: #00464f;
    color: #fff;
}
#office h3 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
}
#officebg {
    background: url("../img/office.jpg");
    height: 400px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 3em;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* card */
.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card .card-heading {}
.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}
.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}
.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}
.card .card-body {
    margin-top: 20px;
}
.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}
.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}
.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}
.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}
.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}
.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}
.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}
.card.people:first-child {
    margin-left: 0;
}
.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}
.card.people .card-top.green {
    background-color: #53a93f;
}
.card.people .card-top.blue {
    background-color: #427fed;
}
.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}
.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #00464f;
}
.card.hovercard .cardheader {
    background: #00464f;
    background-size: cover;
    height: 135px;
}
.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}
.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .info {
    padding: 4px 8px 10px;
}
.card.hovercard .info .title a {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #FFF;
    vertical-align: middle;
}
.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-overflow: ellipsis;
    font-weight: 300;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

/* loja de artigos */
#loja-destaque.container-fluid {
    padding: 0;
}
.cont {
    width: 300px;
    float: left;
}
#lista-artigos {
    padding: 60px 0;
}
#lista-artigos .col-md-3 img {
    width: 100%;
}
#lista-artigos h2 {
    text-transform: uppercase;
    color: #36597e;
    font-size: 30px;
}
#lista-artigos h3 {
    margin: 5px 0;
    font-size: 21px;
}
#lista-artigos h4 {
    text-transform: uppercase;
    color: #353535;
    margin: 0;
    font-size: 17px;
}
#lista-artigos hr {
    border-top: 4px solid #ededed;
}

/* blog e single post */
.card2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: #333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
.card-image {
    display: block;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    min-height: 240px;
    background-position: center;
    background-size: cover;
    background-color: #ccc;
}
.card-content {
    display: block;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 47%;
    margin: 0;
    padding: ;
    background: #f2f2f2;
}
.card-content {
    padding: 20px;
    margin: 0;
}
.card-header {
    background: transparent !important;
}
.card-subtitle {
    font-family: open sans, Arial, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    color: #66CCCC;
    margin: 0;
    margin-bottom: -3px;
    padding: 0;
    font-weight: 400;
}
.card-title {
    font-family: Open Sans, Arial, Verdana, sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #333;
}
.card-title a {
    color: #333;
    text-decoration: none;
    transition: ease 500ms all;
    line-height: 27px;
}
.card-title a:hover {
    color: #66cccc;
    text-decoration: underline;
}
.card-body {
    font-family: Open sans, Arial, sans-serif;
    display: block;
}
.read-more {
    margin-top: 1.5rem;
    text-align: right;
    color: #333;
    padding-right: 5px;
}
.read-more a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}
.content.blog {
    background: #fff;
    box-shadow: none;
}
#blog-list {
    padding-top: 40px;
}
#sidebar {
    padding-top: 25px;
}
.card-title a {
    cursor: pointer;
}
.card-title a:hover {
    color: #9aca40;
    text-decoration: none;
}
ul.share {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul.share li {
    display: inline;
    padding: 0 5px;
    font-size: 18px;
}
.post-footer h5 {
    float: left;
    margin: 5px 0;
}
.blog {
    background-color: #F1F1F1;
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.33);
    margin-top: 30vh;
    height: auto;
}
.blog header {
    background: #00464f;
}
.blog h3 {
    color: #787878;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 0;
}
.blog h4 {
    color: #a9a9a9;
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
}
.blog p {
    font-size: 14px;
    font-weight: 400;
}
.blog .num {
    text-align: right;
    font-size: 16px;
    color: #313131;
    font-weight: 400;
    text-transform: uppercase;
    margin: 3px 0;
}
.blog hr {
    border-top: 4px solid #ebebeb;
}
.blog aside .widget {
    background-color: #7ea927;
    /* background: #d8d8d8; */

    padding: 10px;
    margin: 15px 0;
}
.blog aside .widget .btn-default {
    width: 100%;
    margin: 10px 0;
}
.newsticker {
    padding-left: 5px;
    list-style: none;
}
.newsticker li {
    border-bottom: 1px solid #fff;
}
.newsticker li a {
    color: #fff;
}
.newsticker li a:hover {
    text-decoration: none;
}
.blog aside .widget img {
    width: 100%;
}
.blog .search-blog input {
    border: 0;
    background: #fff;
    padding: 10px;
    width: 75%;
    text-transform: uppercase;
    font-size: 12px;
    outline: none;
}
.blog .search-blog button {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 21px;
}
.blog .widget h3 {
    font-size: 21px;
    color: #fdfdfd;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}
.blog .widget .recent {
    padding-left: 0;
    list-style: none;
}
.blog .widget .recent li {
    padding: 5px 0;
}
.blog .widget .recent a {
    color: #fdfdfd;
}
.blog .widget .sociais {
    padding-left: 0;
    margin-bottom: 0;
    margin: 10px 0;
}
.blog .widget .sociais li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px;
    font-size: 21px;
    padding: 5px 12px;
    background: #fff;
}
.blog .widget .sociais li i {
    color: #7ea927;
}
.blog .widget .sociais li a {
    color: #d8d8d8;
    font-size: 20px;
}
.myimage {
    display: table;
    position: relative;
    margin: 0 auto;
}
.myimage img {
    opacity: 1;
    z-index: -1;
    width: 100%;
}
.myimage .hovered {
    display: table-cell;
    width: auto;
    height: 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    z-index: 9999;
    right: 0;
    transition: top .5s, opacity .3s ease-in-out;
    -webkit-transition: top .5s, opacity .3s ease-in-out;
    -moz-transition: top .5s, opacity .3s ease-in-out;
}
.myimage:hover .post-image {
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.myimage:hover .hovered {
    top: 5px;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}
.like-btn {
    background: #9aca40;
    border: 0 none;
    font-size: 20px;
    color: #fff;
    float: left;
    line-height: 1;
    margin-right: 5px;
    padding: 5px;
}
.comments {
    width: 100%;
    background: #E6E7E8;
}
.comments ol {
    width: 100%;
    display: block;
    padding-left: 0;
    list-style: none;
}
.comments ol li {
    padding-top: 20px;
    border-bottom: 2px dashed #E6E7E8;
    background: #FFFFFF;
}
.comments ol li:last-child {
    border: 0;
}
.author {
    width: 200px;
    height: 100px;
    text-align: center;
}
.author img,
cite,
.author a {
    float: left;
    clear: both;
}
cite,
.author a {
    width: 200px;
    color: #282a2d;
    font-size: 12px;
}
cite {
    color: #282a2d;
    font-style: normal;
    font-size: 18px;
    cursor: pointer;
}
.author img {
    width: 90px;
    height: 90px;
    margin: 0 55px 10px 55px;
    cursor: pointer;
}
.comments p {
    float: left;
    width: 65%;
    top: -75px;
    position: relative;
    background: #E6E7E8;
    min-height: 40px;
    padding: 20px;
    color: #cccc;
}
li p:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #E6E7E8;
    left: -10px;
    bottom: 10px;
}
.form span {
    color: #FFFFFF;
    font-size: 28px;
    display: block;
    margin: 30px 0 30px 0;
}
.form input,
.form textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 0;
    outline: none;
}
#pr {
    padding: 60px 0;
}

/* search form */
.search-icon {
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: none;
}
.search-toggle .search-icon {
    position: relative;
}
.search-container .search-icon {
    color: #353535;
}
.search-toggle .search-icon.icon-close {
    display: none;
}
.search-toggle.opened .search-icon.icon-search {
    display: none;
}
.search-toggle.opened .search-icon.icon-close {
    display: block;
}
.search-container {
    position: relative;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    overflow: hidden;
    background-color: #eee;
    width: 400px;
}
.search-container.opened {
    max-height: 100px;
}
.search-container input[type="text"] {
    outline: none;
    font-size: 1.6rem;
    margin: 18px;
    width: 300px;
    background-color: inherit;
    border: 0;
    outline: none;
}
.search-container .search-icon {
    vertical-align: middle;
}
.search-container {
    position: absolute;
    top: 0;
    left: 65px;
}

/* Footer */
footer {
    margin-top: 30px;
}
footer h5 {
    color: #00464f;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
footer ul {
    padding-left: 0;
    list-style: none;
}
footer ul li {
    text-transform: uppercase;
    font-size: 11px;
    padding: 2px;
}
footer ul li a {
    color: #0a090e;
}
footer ul li a:hover {
    text-decoration: none;
    color: #8dc63f !important;
}
footer ul.social li {
    font-size: 18px;
    font-weight: 600;
}
footer ul.social li a {
    color: #00464f;
    font-size: 12px;
}
footer ul.social li a:hover {
    border-bottom: 0;
    color: #8fbf36;
}
footer i {
    width: 20px;
    height: 20px;
    padding: 5px;
    background: #fff;
    color: #00464f;
}
.fb--flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: -40px;
}
.fb--flex-item {
    color: #fff;
}
.fb--flex-item__A {
    background-color: #ecd078;
}
.fb--flex-item__B {
    background-color: #d95b43;
    cursor: pointer;
}
.fb--flex-item__C {
    background-color: #c02942;
    cursor: pointer;
}
.fb--flex-item__D {
    background-color: #542437;
    cursor: pointer;
}
#bottom {
    padding-top: 20px;
}
#bottom p {
    font-size: 11px;
}

/*.ftr-logo {
    width: 20%;
}

.ftr-tenis {
    width: 13%;
}

.ftr-01 {
    width: 15%;
}

.ftr-02 {
    width: 13%;
}

.ftr-03 {
    width: 10%; 
}

.ftr-cat {
    width: 10%;*/

}
#gallery {
    margin-bottom: 20px;
}

/* servico interno */
.banner-servico-interno {
    width:100%;
    float:left;
    position: relative;
    z-index: 4;
    background: #E9E9E9;
}
.banner-servico-interno .redes-sociais {
    width:30%;
    position:absolute;
    background: #202224;
    top: 60%;
    right: 0;
    height: 70px;
    overflow: hidden;
    padding: 5px;
}
.banner-servico-interno .redes-sociais .redes {
    width:100%;
    background:#252729;
    font-size: 40px !important;
}
.banner-servico-interno .redes-sociais .redes a {
    color:#fff !important;
    margin:0 20px;
}
.banner-servico-interno .redes-sociais .redes a:hover {
    color:#ccc !important;
    margin: 0 20px;
}
.banner-servico-interno img {
    width:100%;
}
#content-servico-interno {
    width:100%;
    float:left;
    background: #E9E9E9;
    padding:0 0 20px;
}
#content-servico-interno header {
    background: #00464f;
}
#content-servico-interno p {
    font-size: 18px;
}
#gallery h2 {
    font-size: 17px;
    color: #7ea927;
    font-weight: 600;
}
#content-servico-interno {
    background-color: #fff;
}
#content-servico-interno .titulo-h2 {
    width:100%;
    text-align: left;
    color: #00464f;
}
.gallery-col {
    padding-bottom: 30px;
}
.gallery-thumb {
    width: 100%;
}
.blueimp-gallery > .next, .blueimp-gallery > .prev {
    border: none !important;
}
.breadcrumb-servico {
    position: relative;
    z-index: 10;
}
.breadcrumb-servico li a {
    color: #222 !important;
}
.breadcrumb-servico>li+li:before {
    color:#222 !important;
}

/* Planos */
.navbar-inner {
    margin-top: 20px;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: #f5f5f5;
    border-radius: 0;
    color:#646464;
    border: 1px solid #e3e3e3;
}
.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
    background: #00464f !important;
    color:#fff !important;
}
.nav-pills > li > a {
    border-radius: 0;
}
#monteseuplano {
    padding-top: 20px;
}
.well ul {
    padding-left: 0;
    list-style: none;
}
.well h3 {
    color:#00464f !important;
    text-transform: uppercase;
}
.well label {
    font-weight: 400;
}
.input-number {
    width: 40px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}
.input-number,
.input-number-decrement,
.input-number-increment {
    border: 1px solid #ccc;
    height: 40px;
    user-select: none;
}
.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}
.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}
#error.parallax {
    width: 100%;
    height: 50vh;
    background: url("../img/404_2.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    z-index: 1;
}
#academiadt.parallax h1 {
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 150px;
}
#academiadt.parallax {
    width: 100%;
    height: 50vh;
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    overflow: hidden;
}
#locacaoq.parallax {
    width: 100%;
    height: 100vh;
    background: url("../img/locacaoq.png");
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    z-index: 1;
}
#fitn.parallax {
    width: 100%;
    height: 100vh;
    background: url("../img/fitn.jpg");
    background-position: center center;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    z-index: 1;
}
#pil.parallax {
    width: 100%;
    height: 100vh;
    background: url("../img/fitness-center.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    z-index: -9999;
}
#conveniencia.parallax {
    width: 100%;
    background: url("../img/conveniencia.jpg");
    background-position: center center;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    z-index: 1;
}
#planos.parallax h1 {
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 150px;
}
#planos.parallax {
    width: 100%;
    height: 50vh;
    background: url("../img/planos.png");
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    overflow: hidden;
}
#servicos.parallax {
    width: 100%;
    background: url("../img/servicos.jpg");
    background-position: center center;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    z-index: 1;
}
#pilates.parallax {
    width: 100%;
    background: url("../img/pilates.jpg");
    background-position: center center;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    z-index: 1;
}
#rkg.parallax h1 {
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 150px;
}
#rkg.parallax {
    width: 100%;
    height: 50vh;
    background: url("../img/ranking.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    overflow: hidden;
}
#news.parallax h1 {
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 150px;
}
#news.parallax {
    width: 100%;
    height: 90vh;
    background: url("../img/news2.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    overflow: hidden;
}
#estrutura.parallax {
    width: 100%;
    background: url("../img/estrutura.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    z-index: 1;
}
#tennis.parallax h1 {
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 150px;
}
#tennis.parallax {
    width: 100%;
    height: 50vh;
    background: url("../img/court.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    overflow: hidden;
}
#owl-loja {
    background: #36597e;
}
#owl-loja.owl-carousel img {
    width: auto;
}
#owl-loja.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
}
#owl-loja.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 5px;
}
#owl-loja.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: #d6d6d6;
    filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
}
#owl-loja.owl-theme .owl-dots .owl-dot.active span {
    background: #97c83c;
}
#owl-loja .item {
    width: 800px;
    display: block;
    margin: 0 auto;
    padding: 60px 0;
    height: 350px;
}
#owl-loja .item img {
    float: left;
}
#owl-loja .item h3 {
    text-transform: uppercase;
    color:#fff;
    margin:30px 0 0;
}
#owl-loja .item h4 {
    color:#fff;
}
#owl-quadras .item img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.5;
}
.gallery-item {
    margin-left: 4px;
    margin-top: 4px;
    text-align: left;
}

/*
.item {
    margin: -15px;
}
*/
#owl-quadras.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
}
#owl-quadras.owl-carousel .owl-item {
    background: rgba(20,
        90,
        99,
        0.7);
}
#owl-quadras.owl-theme .owl-nav {
    text-align: right;
}
.owl-theme .owl-nav [class*='owl-'] {
    background: #8dc63f;
    border-radius: 0;
    width: 40px;
    height: 40px;
    padding: 2px 14px;
}
.owl-theme .owl-nav i {
    font-size: 36px;
}
#owl-quadras.owl-theme .owl-dots .owl-dot {
    display: block;
}
#owl-quadras.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: #d6d6d6;
    filter: Alpha(Opacity=100);
    opacity: 1;
    margin: 5px 0;
}
#owl-quadras.owl-theme .owl-dots .owl-dot.active span {
    background: #97c83c;
}
#locacaodequadra {
    background: #fff;
}
#outros {
    background: #36597e;
    padding: 30px;
}
#np {
    padding: 0;
}
#locacaodequadra h3 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
}
#locacaodequadra p {
    color:#353535 !important;
}

/* quadras */
#quadras-t {
    height: 300px;
    background: url("../img/quadra-t.png");
    background-size: cover;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}
#quadras-s {
    height: 300px;
    background: url("../img/quadra-s.png");
    background-size: cover;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}
#condicionamento {
    height: 300px;
    background: url("../img/condicionamento.png");
    background-size: cover;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}
.lt-btn {
    position: absolute;
    bottom: 0;
    background: #00464f;
    width: 100%;
    left: 0;
    padding: 10px 0;
}
#estrutura1 {
    height: 300px;
    background: url("../img/estr1.png");
    background-size: cover;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}
#estrutura2 {
    height: 300px;
    background: url("../img/estr2.png");
    background-size: cover;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}
#estrutura3 {
    height: 300px;
    background: url("../img/estr3.png");
    background-size: cover;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}
#estrutura-p-1 {
    height: 300px;
    background: url("../img/estr-p-1.png");
    background-size: cover;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}
#estrutura-p-2 {
    height: 300px;
    background: url("../img/estr-p-2.png");
    background-size: cover;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}
#estrutura-p-3 {
    height: 300px;
    background: url("../img/estr-p-3.png");
    background-size: cover;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}
#footer {
    margin-top: 40px;
    position: relative;
    z-index: 100;
    display: table;
}
#footer .container-fluid {
    padding: 0;
}
.container-fluid {
    padding: 0;
}
.modal-dialog {
    width: 75%;
}
#eq p {
    color:#222222;
}

/* programas */
#prog {
    color:#fff;
}
#prog h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 0px;
    color:#222222 !important;
}
#soc h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 13px;
    color:#222222 !important;
}
#performance {
    background: #e1e1e1;
    padding: 60px;
    margin-bottom: -99999px;
    /* TRICK */
    padding-bottom: 99999px;
    /* TRICK */
}
#performance img {
    display: block;
    margin: 0 auto;
}
#performance button {
    background: #0071b9;
    border: 0;
    padding: 10px 30px;
    color:#fff;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
}
#cont-infos {
    width: 50%;
    height: 630px;
    background: #d6d5d5;
    padding: 60px 60px 200px 60px;
    float: left;
}
@media (max-width: 1296px) {
    #cont-infos {
        height: 654px;
    }
    #map iframe {
        width: 400px;
        height: 200px;
    }
}
@media (max-width: 992px) {
    #cont-infos {
        width: 100%;
    }
    #soc ul {
        width: 100%;
    }
    #infomacoes {
        width: 100%;
    }
    #map iframe {
        margin: 30px;
    }
    .pricing-table .pricing-option,
    {
        margin-top: 10px;
    }
}
@media (max-width: 992px) {
    #cont-infos {
        width: 100%;
    }
    #soc ul {
        width: 100%;
    }
    #infomacoes {
        width: 100%;
    }
    #map iframe {
        margin: 30px;
    }
}
@media (max-width: 466px) {
    #cont-infos {
        width: 100%;
        height: 850px
    }
    #soc ul {
        width: 100%;
    }
    #infomacoes {
        width: 100%;
    }
    #map iframe {
        width: 300px;
        margin: 30px;
    }
}
#informacoes {
    width: 100%;
    float: left;
}
#prevencao {
    background: #f2f2f2;
    padding: 60px;
}
#prevencao img {
    display: block;
    margin: 0 auto;
}
#prevencao button {
    background: #0071b9;
    border: 0;
    padding: 10px 30px;
    color:#fff;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
}
#reabilitacao {
    background: #e1e1e1;
    padding: 60px;
    margin-bottom: -99999px;
    /* TRICK */
    padding-bottom: 99999px;
    /* TRICK */
}
#reabilitacao img {
    display: block;
    margin: 0 auto;
}
#reabilitacao button {
    background: #9ac847;
    border: 0;
    padding: 10px 30px;
    color:#fff;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
}
#recuperacao {
    background: #f2f2f2;
    padding: 60px;
}
#recuperacao img {
    display: block;
    margin: 0 auto;
}
#recuperacao button {
    background: #9ac847;
    border: 0;
    padding: 10px 30px;
    color:#fff;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
}
#promocao {
    background: #1f1f2b;
}
#promocao .col-md-6 {
    background: #1f1f2b;
    margin-bottom: -99999px;
    /* TRICK */
    padding-bottom: 99999px;
    /* TRICK */
}
#promocao button {
    background: #9ac847;
    border: 0;
    padding: 10px 30px;
    color:#fff;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
}
#promocao .col-md-6 h3 {
    color:#fff !important;
}
#np {
    padding: 0;
}
.demo-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}
.pricing-table {
    display: table;
    width: 100%;
    margin-top: 2px;
}

/* subscreve bootstrap */
.well-planos {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
}
.pricing-option h1 {
    color:#222;
    font-size: 28px;
    background: #f2f2f2;
}
.pricing-table .pricing-option {
    min-height: 315px;
    background: #f2f2f2;
    padding: 2%;
    margin: 1% 1% 0 1%;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table .pricing-option:hover {
    cursor: pointer;
    box-shadow: 0px 2px 30px rgba(0,
        0,
        0,
        0.3);
    -webkit-transform: scale(1.04);
    transform: scale(1.00);
}
.pricing-table .pricing-option:hover i,
.pricing-table .pricing-option:hover h1,
.pricing-table .pricing-option:hover span,
.pricing-table .pricing-option:hover b {
    color: #8dc63f;
}
.pricing-table .pricing-option:hover .back {
    opacity: 1 !important;
    visibility: visible !important;
}
.pricing-table .pricing-option:hover .back a.button {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}
.pricing-table .pricing-option hr {
    border: none;
    border-bottom: 1px solid #F0F0F0;
}
.pricing-table .pricing-option i {
    font-size: 3rem;
    color: #D8D8D8;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table .pricing-option h1 {
    margin: 10px 0;
    color: #212121;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table .pricing-option p {
    color: #999;
    padding: 0 10px;
    line-height: 1.3;
}
.pricing-table .pricing-option .price {
    position: relative;
}
.pricing-table .pricing-option .price .front span.price {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: 700;
    position: relative;
}
.pricing-table .pricing-option .price .front span.price b {
    position: absolute;
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 600;
}
.pricing-table .pricing-option .price .back {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button {
    background: #8dc63f;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 13px;
    top: -5px;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    text-transform: uppercase;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button:hover {
    background: #8dc63f;
}

/*==========  Mobile    ==========*/
@media (min-width: 1199px);
{
    .btn-ts {
        margin: 30px;
    }
}
@media only screen and (max-width: 1749px) {
    .col-xs-10 {
        width: 77%;
    }
}
@media only screen and (max-width: 1024px) {
    .soc-b {
        margin-right: 30px;
        width: 270px;
    }
}
@media screen and (min-width: 1440px) {
    .navbar-nav>li {
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media only screen and (max-width: 1680px) {
    .sociais-box {
        /* margin-right: 10px; */

        float: right;
        position: relative;
        top: 0;
    }
}
@media only screen and (min-width: 1680px) {
    .sociais-box {
        /* margin-right: 10px; */

        float: right;
        position: relative;
        top: 56px;
    }
    .nav > li > a:focus,
    .nav > li > a:hover {
        background: #202224 !important;
    }
    ul.nav.soc-b li a:hover {
        background-color: transparent!important;
    }
}
@media only screen and (max-width: 1440px) {
    div#l-busca {
        padding-left: 0px!important;
        margin-left: 10px!important;
    }
    #l-busca {
        margin-left: 30px;
    }
    .sociais-box {
        float: right;
    }
    .navbar-nav>li {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (max-width: 1375px) {
    .nd-wrap img {
        width: auto !important;
    }
}
@media only screen and (max-width: 425px) {
    .fb--flex-item__A {
        display: none;
    }
    .fb-item-new {
        width: 100%!important;
        display: block;
    }
    .rank-menu h2 {
        font-size: 17px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .fb--flex-item {
        padding: 0em;
        color: #fff;
        float: left;
        height: 100%;
        width: 16.66%;
    }
}
@media only screen and (max-width: 1250px) {
    .navbar-nav li a {
        font-size: 77.5%;
    }
}
@media only screen and (max-width: 1024px) {
    .navbar-nav li a {
        font-size: 73.5%;
    }
    .col-lg-2.col-md-2.col-sm-4.col-xs-4.nav-mobile.nav-large {
        padding: 0;
    }
    a.navbar-brand img {
        width: 80%;
        float: right;
    }
}

@meida (max-width: 1280px){
        .sociais-box {
        float: right;
        position: relative;
        top: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .fb--flex-item {
        padding: 0em;
        color: #fff;
        width: 60%;
        float: left;
    }
    .fb-item-new {
        width: 50%;
    }
    .fb--flex-item__A {
        background-color: #ecd078;
        width: 40%!important;
    }
    .col-md-6.col-sm-12.col-xs-12 {
        width: 50%;
        padding: 4px;
        min-height: auto!important;
    }
    .sociais-box {
        float: right;
    }
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .col-xs-10 {
        width: 83.33333333% !important;
    }
    .social li {
        display: inline;
        padding: 0 70px 0 0;
    }
    .search-ranking input {
        width: 85%;
    }
    .circle {
        width: 200px;
        height: 200px;
    }
    .circle i {
        padding: 40px 0;
    }
    .soc-b {
        text-align: center;
    }
    #ranking .col-md-6 {
        width: 100%;
        top: -16px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    div#listas-servicos {
        overflow: hidden;
        margin-top: 20px;
        text-align: center;
    }
    #topbar {
        padding: 0;
    }
    /*.sociais-box {
        float: right;
        margin-top: -48px;
        border-top: 1px solid #fff;
        background-color: #00464f;
        height: 8px;
    }*/
    div#l-busca {
        float: right;
        margin-top: -110px;
        background-color: #00464f;
        padding: 0;
        padding-left: 10px;
    }
    .search-form {
        float: right;
        height: 62px;
        padding-top: 20px;
        padding-left: 0;
        padding-bottom: 0;
    }
    #oquefazemos h2 {
        font-size: 21px;
        text-transform: uppercase;
        text-align: center;
        color: #00464f;
        margin: 30px 0;
    }
    #oquefazemos {
        display: block;
        position: relative;
        top: 40px;
        padding: 20px 0;
    }
    /*#servicos {display: none;}*/
    #sf {
        display: none
    }
    /*    .sf {display: none !important;}*/
    #mulherbg {
        display: none;
    }
    #muscu {
        display: none;
    }
    #aero {
        display: none;
    }
    #tf {
        display: none;
    }
    #spi {
        display: none;
    }
    #pjump {
        display: none;
    }
    #gap {
        display: none;
    }
    #zumba {
        display: none;
    }
    #pilates {
        display: none;
    }
    #func-tr {
        display: none;
    }
    #yoga {
        display: none;
    }
    #mass {
        display: none;
    }
    #srvc .col-sm-12 {
        padding: 30px;
        border-bottom: 1px solid #335171;
    }
    #srvc .col-sm-12:last-child {
        border-bottom: 0;
    }
    .ativo {
        height: 50px;
    }
    .navbar-nav li a {
        font-size: 12px;
    }
    /*
    #academiadt.parallax {
        height: 55vh;
    }
    */
    /*
    #pil.parallax {
        width: 100%;
        height: 56vh;
    }
    */
    #fitn.parallax {
        height: 56vh;
    }
    /*    #academiadt.parallax {top:15% !important;}*/
}
@media screen and (max-width:750px) {
    .fb--flex-item__A {
        background-color: #ecd078;
        width: 100%!important;
    }
    .fb--flex-item {
        padding: 0em;
        color: #fff;
        width: 100%!important;
        height: 200px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    input.input-busca {
        display: none;
        background-color: #00464f;
        position: relative;
        top: -1px;
        z-index: 10;
        margin-left: -2px;
        width: 90%;
    }
    a.navbar-brand {
        padding: 0;
        width: 100%;
    }
    .navbar-brand img {
        width: 95%;
        float: right;
        margin-right: 11px;
    }
    .search-form {
        width: 100%;
    }
    .open-search-mobile {
        font-size: 17px;
    }
    .box-mobile-menu {
        padding: 0;
    }
    #topbar {
        padding: 0;
        position: static;
    }
    .navbar-toggle {
        top: inherit;
        bottom: 0;
    }
    .nav-mobile {
        position: static;
        height: 126px;
        padding: 0;
    }
    a.navbar-brand {
        display: table;
        float: left!important;
        padding-left: 15px;
    }
    div#img-row {
        padding: 4px;
        text-align: center;
    }
    div#tagcloud {
        margin-left: 0;
    }
    #top.row {
        background: #282a2d;
        position: absolute;
        z-index: 600;
        width: 100%;
        left: 0;
        top: 100%;
    }
    .right-span {
        float: right;
    }
    div#l-busca {
        float: left;
        margin-top: 0;
        padding: 0;
    }
    .sociais-box {
        display: block;
        margin-top: 0;
        border: none;
        position: absolute;
        right: 0;
    }
    .search-form {
        padding-left: 10px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse {
        overflow-x: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-nav li {
        width: 100%;
    }
    .search-toggle,
    .search-container {
        display: none
    }
    #formcontato {
        padding: 0 15px;
    }
    #info-c #soc {
        padding: 0 15px;
    }
    .search-form-mobile {
        display: block;
    }
    .search-form-mobile i {
        color: #fff;
        font-size: 14px;
    }
    .search-form-mobile button {
        background: transparent;
        border: 0;
    }
    .search-form-mobile input {
        background: transparent;
        color: #fff;
        border: 0;
        font-style: italic;
        width: 70%;
    }
    .col-xs-4 .navbar-header {
        width: 100%;
        padding: 14px 0;
        height: auto;
    }
    .navbar-brand img {
        width: 100%;
        margin: 0 auto;
        max-width: 140px;
        margin-right: 7px;
    }
    .col-xs-12 .navbar-header .navbar-brand {
        float: none;
    }
    .contact {
        padding: 20px;
    }
    h1 {
        font-size: 37px;
    }
    /*    #servicos {display: none;}*/
    #oquefazemos {
        display: block;
        position: relative;
        top: 0px;
        padding: 20px 0;
    }
    #oquefazemos h2 {
        font-size: 21px;
        text-transform: uppercase;
        text-align: center;
        color: #00464f;
        margin: 30px 0;
    }
    #slider {
        position: relative;
        top: 0px;
    }
    .container#footer {
        display: none;
    }
    #owl-principal.owl-theme .owl-controls {
        top: 20%;
    }
    .navbar-nav {
        margin: 0;
        border-top: 1px solid #fff;
    }
    .navbar-nav li a {
        padding: 13px;
    }
    form.search-news input {
        width: 80%;
        font-size: 30px;
    }
    .navbar-nav li {
        text-align: center;
    }
    .contact {
        top: 60px;
    }
    .ativo {
        height: 50px;
    }
    /*    #academiadt.parallax {top:0 !important;}*/
    #topbar.col-xs-12 {
        padding: 0;
    }
    .navbar-collapse {
        padding-left: 0;
        padding-right: 1px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .carousel-caption {
        top: 5px;
    }
    #iniciante img {
        position: relative;
        top: -14px;
        left: 15px;
    }
    #slider {
        /* top:50px; */
    }
    .contact {
        padding: 10px;
    }
    .contact h1 {
        font-size: 36px;
    }
    #oquefazemos {
        /* top:50px; */
    }
    #filtros .dropdown-select {
        width: 80%;
        font-size: 20px;
    }
    .search-ranking input {
        width: 85%;
    }
    .search-ranking button {
        font-size: 20px;
    }
    .search-ranking input {
        font-size: 20px;
    }
    table.table thead th {
        padding: 20px;
    }
    table.table tbody tr td {
        padding: 20px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
    table.table thead th {
        padding: 20px;
    }
    table.table tbody tr td {
        padding: 20px;
    }
    .col-xs-10 {
        width: 80.333333% !important;
    }
    #oquefazemos {
        /* top:50px; */
    }
    .painel-ts-um,
    .painel-ts-dois,
    .painel-ts-tres {
        height: 500px;
    }
    #locacaodequadra {
        height: 670px;
    }
    #filtros .dropdown-select {
        width: 80%;
        font-size: 20px;
    }
    .search-ranking input {
        width: 85%;
    }
    .search-ranking button {
        font-size: 20px;
    }
    .search-ranking input {
        font-size: 20px;
    }
    #container-content {
        padding: 20px;
    }
}
@media only screen and (max-width: 320px) {
    #pad {
        padding: 30px;
    }
    table.table thead th {
        padding: 15px;
    }
    #locacaodequadra {
        height: 575px;
    }
    #filtros .dropdown-select {
        width: 80%;
        font-size: 20px;
    }
    .search-ranking input {
        width: 80%;
    }
    .search-ranking button {
        font-size: 20px;
    }
    .search-ranking input {
        font-size: 20px;
    }
    .col-xs-10 {
        width: 73.333333% !important;
    }
    .rank-menu h2 {
        font-size: 14px;
    }
    /*    #tennis.parallax {top:5% !important;}*/
    /*    .parallax h1 {margin:200px auto;}*/
    /*    #academiadt.parallax {height: 60vh;top:9% !important;}*/
    /*    #fitn.parallax {height: 60vh;top:9% !important;}*/
    /*    #pil.parallax {height: 60vh;top:9% !important;}*/
    /*    #rkg.parallax {top:5%;}*/
    /*    #news.parallax {top:10% !important;}*/
    /*    #planos.parallax {top:5%;}*/
}
@-moz-document url-prefix() {
    [include*="form-input-select()"] {
        overflow: hidden;
    }
    [include*="form-input-select()"] select {
        width: 120%;
        width: calc(100% + 3em);
        /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
    }
    @supports (-moz-appearance: none) {
        [include*="form-input-select()"] select {
            width: 100%;
        }
    }
    [include*="form-input-select()"] select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}
@supports (-moz-appearance: none) {
    [include*="form-input-select()"] {
        width: 100%;
    }
}

/**
 * Paineis
 * Nota: deve existir o mesmo número de painel-ts-* que btn-ts-*
 */
.painel-ts {
    height: auto;
}
.painel-ts-00 {
    background: #36597e;
}
.painel-ts-01 {
    background: #7ea927;
}
.painel-ts-02 {
    background: #00464f;
}
.painel-ts h3 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
    color:#fff;
}
.painel-ts-texto {
    padding: 30px 0px 0px 60px;
}
.painel-ts-texto p {
    color:#fff;
    font-weight: 300;
    font-size: 17px;
    width: 85%;
    margin: 15px;
}
.painel-ts-imagem {
    height: 360px;
    display:flex;
    background-size: cover;
    background-repeat: no-repeat;
    /*    background-position: 100% 20%;*/
    */
}
.painel-ts-imagem > img {}

/**
 * Botões
 * Nota: deve existir o mesmo número de btn-ts-* que painel-ts-*
 */

/* .btn-default é para compatibilidade. Não usar. Deletar no futuro */
.btn-default {
    margin-top: 10px;
    border-radius: 0;
    background: #a4cc54;
    color:#fff;
    cursor: pointer;
    border: 0;
    padding: 10px 50px;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.btn-ts {
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 0;
    cursor: pointer;
    border: 0;
    padding: 10px 50px;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
@media (min-width: 1199px);
{
    .btn-ts {
        margin: 300px;
    }
}
.btn-ts:hover {
    background: #fff;
    color: #36597e;
    text-transform: none;
}
.btn-ts-00 {
    background-color: #7ea927;
    color:#fff;
}
.btn-ts-01 {
    background-color: #36597e;
    color:#fff;
}
.btn-ts-02 {
    background-color: #7ea927;
    color:#fff;
}
#cont-infos p {
    width: 70%;
}
div#topbar {
    padding: 0;
}
.navbar-header {
    float: right;
    width: 100%;
}
@media screen and (max-width: 1024px and min-width: 769px) {
    .navbar-nav li a {
        font-size: 76.5%;
    }
    a.navbar-brand {
        display: none;
    }
}
@media screen and (max-width: 1024px and min-width: 769px) {
    .ftr {
        float: left;
        margin-left: 0%!important;
        width: 33.3%;
        height: 210px;
        padding: 5px;
    }
    ul.social li {
        width: 100%;
        padding: 0;
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .ftr {
        float: left;
        margin-left: 0%!important;
        width: 50%;
        padding: 8px;
        min-height: 210px;
    }
}
@media (max-width: 439px) {
    .rank-menu h2 {
        font-size: 17px;
    }
}
@media screen and (max-width: 375px) {
    .col-lg-2.col-md-2.col-sm-4.col-xs-4.nav-mobile.nav-large {
        width: 100%;
        height: auto;
    }
    .ftr {
        float: left;
        margin-left: 0%!important;
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 32px;
        min-height: auto!important;
    }
    footer ul.social li a {
        color: #00464f;
        font-size: 12px;
        display: block;
        padding: 0;
        margin: 0;
    }
    .navbar-brand img {
        width: 95%;
        float: none!important;
        margin: 0 auto;
    }
}
@media screen and (max-width: 520px) {
    .sociais-box {
        float: left;
        top: 64px;
        z-index: 9999;
        margin-right: 50px;
    }
    .soc-b {
        margin-right: 30px;
        width: auto!important;
    }
    .soc-b>li>a {
        padding: 15px 2px;
    }
}
@media screen and (max-width: 769px and min-width: 520px) {
    .search-form {
        float: left;
        padding-left: 10px;
    }
}
@media screen and (max-width: 1075px and min-width: 375px) {
    .navbar-brand img {
        width: 95%;
        float: right;
        margin-right: 13px;
    }
}
@media screen and (max-width: 375px) {
    .sociais-box {
        background-color: red;
        width: 100%;
        margin: 0;
        margin-top: 50px;
        /* text-align: center; */
    }
    .sociais-box {
        position: static;
    }
    div#topbar {
        position: static;
    }
    button.navbar-toggle.col-xs-8 {
        position: relative;
        width: 100%;
        top: 14px;
    }
    div#topbar {
        position: static;
        width: 100%;
    }
    .sociais-box {
        position: static;
        margin-top: 0;
        background-color: #00464f;
        border-top: 1px solid black;
    }
    .mobile-buscar {
        display: block!important;
    }
    input.mobile-buscar {
        background-color: #003840;
        float: right;
        width: 25%;
        height: 61px;
        margin-top: -62px;
        text-transform: uppercase;
        padding: 0;
        font-style: normal;
        text-align: left;
        padding-left: 10px;
    }
    .search-form i {
        color: #fff;
        display: none;
    }
    .search-form {
        padding: 0;
    }
    input.input-busca {
        display: block!important;
        background-color: #00464f;
        position: relative;
        top: 0px;
        z-index: 10;
        margin-left: -3%;
        width: 78%;
        height: 62px;
    }
    .soc-b>li>a {
        padding: 15px 15px!important;
    }
    #top.row {
        top: 60%;
    }
}
@media screen and (min-width: 1060px) {
    .nav-large {
        padding: 0;
    }
    .navbar-brand img {
        width: 156px;
        margin: 5px auto;
        float: right;
        margin-right: 20px;
    }
    a.navbar-brand {
        padding: 0;
    }
    div#l-busca {
        padding-left: 30px;
    }
    .box-mobile-menu.menusite {
        float: left;
    }
}
#logo {
    display: none;
}
@media screen and (max-width: 1440px) {}
.ftr {
    float: left;
    margin-left: 2%;
}
section#ftr {
    float: none;
    margin: 0 auto;
    display: table;
    max-width: 1220px;
    width: 100%;
}
section#footer {
    width: 100%;
}
.fb--flex-item__A {
    width: 50%;
    height: 160px;
    display: table;
}
@media (max-width: 1240px) {
    .item h1 {
        font-size: 55px;
    }
}
@media (max-width: 991px) {
    .navbar-header a {
        width: 80%;
    }
    .item h1 {
        font-size: 300%;
    }
    .imagem-esquerda {
        width: 100%;
    }
}
@media (max-width: 990px) {
    img .img-responsive {
        display: block;
        min-width: 10%;
    }
    .gallery-item {
        margin-left: 30px;
    }
}
@media (max-width: 427px) {
    img .img-responsive {
        display: block;
        min-width: 10%;
    }
    .gallery-item {
        margin-left: 20px;
    }

}
@media (max-width: 548px) {
    #tagcloud img {
        width: 100%;
    }
}
@media (max-width: 357px) {
    .rank-menu h2 {
        font-size: 15px;
    }

    .leader li h2 {
        font-size: 15px;
    }
}
@media (max-width: 375px) {
    .leader li h2 {
        font-size: 15px;
    }
}
@media (max-width: 342px) {
    .leader li h2 {
        font-size: 13px;
    }
}



.ug-thumb-wrapper.ug-tile.ug-tile-clickable {
    height: 210px!important;
}